

mixin burger(data)
	if(data != undefined && data.sfx != undefined)
		- var classes = ['burger--'+data.sfx]

	a.burger(class = classes, href="#")
		svg.icon
			- img = "images/sprite.svg#"+data.img
			use(xlink:href = img)