
mixin filter-block(data)
	//- var pages = data.sfx;

	if(data != undefined && data.sfx != undefined)
		- var classes = ['filter-block--'+data.sfx];

	.filter-block.js-filter-block(class = classes)
		form(action="ajax/filter.json")
				.filter-block__mob
					.container
						a.filter-block__show-filter.btn.btn--lg.btn--icon.js-mob-filter-show(href="#")
							svg.icon.btn__icon
								use(xlink:href="images/sprite.svg#icon-filter")
							span Фильтр

						.filter-block__mob-bottom
							.filter-block__sort
									select(name="sort")
										option(value="") Сортировать
										option(value="price") Цена
										option(value="rait") Рейтинг

							.filter-block__view
									.filter-block__view__item.checkbox.checkbox--block.js-view-type
											input(type="radio" class="change-view" name="view-mob" value="view-2" id="view-2" checked)
											label(for="view-2")
												svg.icon.icon-view-1( width="29" height="21")
													use(xlink:href="/images/sprite.svg#view-2")
									.filter-block__view__item.checkbox.checkbox--block.js-view-type
											input(type="radio" class="change-view" name="view-mob" value="view-1" id="view-1")
											label(for="view-1")
												svg.icon.icon-view-2( width="21" height="21")
													use(xlink:href="/images/sprite.svg#view-1")



				.filter-block__wrapper
					.filter-block__head
						.container
							.filter-block__head__reset
								a.js-filter-reset(href="#") Сбросить фильтр
							a.filter-block__close.js-mob-filter-hide(href="#")
								svg.icon
									use(xlink:href="images/sprite.svg#icon-close")
							.filter-block__head__title Сортировать

					.filter-block__top
						.container
							.filter-block__row.row
								.filter-block__item.col-3.col-md-4.col-sm-6.col-xs-12
									select.nice-select--gold(name="filter-type")
										option(value="") Тип 
										option(value="kartina") Картина
										option(value="skulptura") Скульптура
								.filter-block__item.col-3.col-md-4.col-sm-6.col-xs-12
									select.nice-select--gold(name="filter-tema")
										option(value="") Тема
										option(value="peizag") Пейзаж
										option(value="gorod") Город
								.filter-block__item.col-3.col-md-4.col-sm-6.col-xs-12
									select.nice-select--gold(name="filter-style")
										option(value="") Стиль
										option(value="kubizm") Кубизм
										option(value="triugol") Триугольникальтизм
										option(value="haitek") Хайтэк
								.filter-block__item.col-3.col-md-4.col-sm-6.col-xs-12
									select.nice-select--gold(name="filter-tehnik")
										option(value="") Техника
										option(value="kartina") Кистью
										option(value="palcem") Пальцем
										option(value="kalom") Калом
								.filter-block__item.col-3.col-md-4.col-sm-6.col-xs-12.hidden(data-toggle)
									select.nice-select--gold(name="filter-brand")
										option(value="") Бренды
										option(value="Adidas") Adidas
										option(value="puma") Puma
										option(value="haitek") Хайтэк
								.filter-block__item.col-3.col-md-4.col-sm-6.col-xs-12.hidden(data-toggle)
									select.nice-select--gold(name="filter-painter")
										option(value="") Художники
										option(value="painter-1") Макаревич
										option(value="painter-2") Анциферов
										option(value="painter-3") Пикасо
								.filter-block__item.col-3.col-md-4.col-sm-6.col-xs-12.hidden(data-toggle)
									.row.row--nowrap
										.col
											select.nice-select--gold(name="filter-country")
												option(value="") Страна
												option(value="painter-1") США
												option(value="painter-2") Россия
												option(value="painter-3") Китай
										.col-auto
											select.nice-select--gold(name="filter-year")
												option(value="") Год
												option(value="painter-1") 1999
												option(value="painter-1") 2020

								.filter-block__item.filter-block__item--chechboxs.col-3.col-md-4.col-sm-6.col-xs-12.hidden.js-filter-item-order-xs-2(data-toggle)
									.checkbox-inline
										.checkbox
											input(type="checkbox" name="filter-stock" value="" id="filter-stock")
											label(for="filter-stock") В наличии
										.checkbox
											input(type="checkbox" name="filter-sale" value="" id="filter-sale")
											label(for="filter-sale") Со скидкой

					.filter-block__body
						.container
							hr.filter-block__hr
							.filter-block__row.row
								.filter-block__item.filter-block__item--price.order-md-first.col-xs-12.range-block.js-filter-item-order-xs-1
									.filter-block__label Цена
									.filter-block__prices
										.filter-block__prices__input
											span.range-block__from 0
											input.range-block__from-input(name="price-min" type="hidden" value="0")
										.filter-block__prices__sep -
										.filter-block__prices__input
											span.range-block__to 3000000
											input.range-block__to-input(name="price-max" type="hidden" value="3000000")
									.filter-block__range
										input.js-range-slider(type="text" data-type="double" data-min="0" data-max="3000000" data-from="0" data-to="3000000" data-grid="false")

								.filter-block__item.filter-block__item--check-block.order-md-4.col-xs-12.order-xs-auto
									.filter-block__label Расположение
									.filter-block__checkboxs
										.filter-block__checkboxs__item.checkbox.checkbox--block
											input(type="checkbox" name="position" value="position-1" id="position-1")
											label(for="position-1")
												svg.icon.icon-pos-1( width="31" height="21")
													use(xlink:href="/images/sprite.svg#position-1")
										.filter-block__checkboxs__item.checkbox.checkbox--block
											input(type="checkbox" name="position" value="position-2" id="position-2")
											label(for="position-2")
												svg.icon.icon-pos-2( width="21" height="31")
													use(xlink:href="/images/sprite.svg#position-2")
										.filter-block__checkboxs__item.checkbox.checkbox--block
											input(type="checkbox" name="position" value="position-3" id="position-3")
											label(for="position-3")
												svg.icon.icon-pos-3( width="31" height="31")
													use(xlink:href="/images/sprite.svg#position-3")

								.filter-block__item.filter-block__item--check-block.order-md-5.col-xs-12.order-xs-auto
									.filter-block__label Размер
									.filter-block__checkboxs
										.filter-block__checkboxs__item.checkbox.checkbox--block
											input(type="checkbox" name="size" value="size-1" id="size-1")
											label(for="size-1")
												svg.icon.icon-size-1( width="14" height="10")
													use(xlink:href="/images/sprite.svg#size-1")
										.filter-block__checkboxs__item.checkbox.checkbox--block
											input(type="checkbox" name="size" value="size-2" id="size-2")
											label(for="size-2")
												svg.icon.icon-size-2( width="24" height="18")
													use(xlink:href="/images/sprite.svg#size-2")
										.filter-block__checkboxs__item.checkbox.checkbox--block
											input(type="checkbox" name="size" value="size-3" id="size-3")
											label(for="size-3")
												svg.icon.icon-size-3( width="34" height="26")
													use(xlink:href="/images/sprite.svg#size-3")

								.filter-block__item.order-md-2.col-xs-12.range-block
									.filter-block__label Ширина (см.)
									.filter-block__prices
										.filter-block__prices__input
											span.range-block__from 0
											input.range-block__from-input(name="width-min" type="hidden" value="0")
										.filter-block__prices__sep -
										.filter-block__prices__input
											span.range-block__to 200
											input.range-block__to-input(name="width-max" type="hidden" value="200")
									.filter-block__range
										input.js-range-slider(type="text" data-type="double" data-min="0" data-max="200" data-from="0" data-to="200" data-grid="false")

								.filter-block__item.order-md-3.col-xs-12.range-block
									.filter-block__label Высота (см.)
									.filter-block__prices
										.filter-block__prices__input
											span.range-block__from 0
											input.range-block__from-input(name="height-min" type="hidden" value="0")
										.filter-block__prices__sep -
										.filter-block__prices__input
											span.range-block__to 200
											input.range-block__to-input(name="height-max" type="hidden" value="200")
									.filter-block__range
										input.js-range-slider(type="text" data-type="double" data-min="0" data-max="200" data-from="0" data-to="200" data-grid="false")

								.filter-block__item.filter-block__item--color.order-md-last.col-xs-12
									.filter-block__label Цвет
									.color-block
										.color-block__current.js-color-hint-show
											.color-block__current__list
												img.color-block__current__img(src="images/all-colors.png")
											svg.icon.color-block__current__arrow
												use(xlink:href="images/sprite.svg#arrow-down")
										.color-block__hint
											.color-block__title Выберите необходимые цвета
											.color-block__list
												.color-block__item
													.checkbox.checkbox--color.white.js-checked-color
														input#color-1.change-color(type="checkbox", name="color-1", value="color-1")
														label(for="color-1")
															img(src="/images/color-1.png", alt="")
												.color-block__item
													.checkbox.checkbox--color.js-checked-color
														input#color-2.change-color(type="checkbox", name="color-2", value="color-2")
														label(for="color-2")
															img(src="/images/color-2.png", alt="")
												.color-block__item
													.checkbox.checkbox--color.js-checked-color
														input#color-3.change-color(type="checkbox", name="color-3", value="color-3")
														label(for="color-3")
															img(src="/images/color-3.png", alt="")
												.color-block__item
													.checkbox.checkbox--color.js-checked-color
														input#color-4.change-color(type="checkbox", name="color-4", value="color-4")
														label(for="color-4")
															img(src="/images/color-4.png", alt="")
												.color-block__item
													.checkbox.checkbox--color.js-checked-color
														input#color-5.change-color(type="checkbox", name="color-5", value="color-5")
														label(for="color-5")
															img(src="/images/color-5.png", alt="")
												.color-block__item
													.checkbox.checkbox--color.js-checked-color
														input#color-6.change-color(type="checkbox", name="color-6", value="color-6")
														label(for="color-6")
															img(src="/images/color-6.png", alt="")
												.color-block__item
													.checkbox.checkbox--color.js-checked-color
														input#color-7.change-color(type="checkbox", name="color-7", value="color-7")
														label(for="color-7")
															img(src="/images/color-7.png", alt="")
												.color-block__item
													.checkbox.checkbox--color.js-checked-color
														input#color-8.change-color(type="checkbox", name="color-8", value="color-8")
														label(for="color-8")
															img(src="/images/color-8.png", alt="")
												.color-block__item
													.checkbox.checkbox--color.js-checked-color
														input#color-9.change-color(type="checkbox", name="color-9", value="color-9")
														label(for="color-9")
															img(src="/images/color-9.png", alt="")
												.color-block__item
													.checkbox.checkbox--color.js-checked-color
														input#color-10.change-color(type="checkbox", name="color-10", value="color-10")
														label(for="color-10")
															img(src="/images/color-10.png", alt="")
												.color-block__item
													.checkbox.checkbox--color.js-checked-color
														input#color-11.change-color(type="checkbox", name="color-11", value="color-11")
														label(for="color-11")
															img(src="/images/color-11.png", alt="")
												.color-block__item
													.checkbox.checkbox--color.js-checked-color
														input#color-12.change-color(type="checkbox", name="color-12", value="color-12")
														label(for="color-12")
															img(src="/images/color-12.png", alt="")
												.color-block__item
													.checkbox.checkbox--color.js-checked-color
														input#color-13.change-color(type="checkbox", name="color-13", value="color-13")
														label(for="color-13")
															img(src="/images/color-13.png", alt="")

											.color-block__buttons
												button.btn.js-filter-submit(type="submit") Применить
												a.btn.btn--disabled.js-reset-colors(href="#") Сбросить


					.filter-block__bottom
						.container
							.filter-block__bottom__row
								.filter-block__view
									.filter-block__view__item.checkbox.checkbox--block.js-view-type
											input(type="radio" class="change-view" name="view" value="view-4" id="view-small" checked)
											label(for="view-small")
												svg.icon.icon-view-1( width="29" height="21")
													use(xlink:href="/images/sprite.svg#view-small")
									.filter-block__view__item.checkbox.checkbox--block.js-view-type
											input(type="radio" class="change-view" name="view" value="view-2" id="view-medium")
											label(for="view-medium")
												svg.icon.icon-view-2( width="21" height="21")
													use(xlink:href="/images/sprite.svg#view-medium")

								.filter-block__sort
									select(name="sort")
										option(value="") Сортировать
										option(value="price") Цена
										option(value="rait") Рейтинг

								.filter-block__more
									a.link-select.js-filter-toggle(href="#")
										span Все параметры
										svg.icon
											use(xlink:href="/images/sprite.svg#arrow-down")

					.filter-block__buttons
						.container
							a.btn.is-btn-block.btn--lg.js-filter-submit(href="#") Отфильтровать
								
									

