
mixin filter-in-product(data)
	//- var pages = data.sfx;

	if(data != undefined && data.sfx != undefined)
		- var classes = ['filter-block--'+data.sfx];

	

		.filter-block.js-filter-wrap#momental_filter_wrap(class = classes, data-target="#order_list")
								.filter-block__overflow.js-filter-close
								a.filter-block__close.js-filter-close(href="#")
									svg.icon
										use(xlink:href="images/sprite.svg#icon-close")
								.filter-block__body
									.filter-block__mob-title Фильтр <span class="js-filter-count-span"></span>
									.filter-block__group
										.filter-block__item
											select.js-filter-region-select(name="filter-region-select")
												option( value="default" data-display="Все города")
										.filter-block__item
											select.js-filter-subregion-select(name="filter-subregion-select" disabled)
												option( value="default" data-display="Любой район")

									.filter-block__group.c-filter-spoiler( data-name="delivery")
										.filter-block__title.c-filter-spoiler__summary
											span.c-filter-spoiler__js-value( data-value="" data-default-caption="Любой тип") Доставка
										.filter-block__list.checkbox-list.c-filter
												.checkbox
													input(type="checkbox" data-name="Самовывоз" name="type_delivery_moment" id="magnet" value="magnet")
													label(for="magnet") Самовывоз
												.checkbox
													input(type="checkbox" data-name="Курьером" name="type_delivery_moment" id="shovel" value="shovel")
													label(for="shovel") Курьером
												.checkbox
													input(type="checkbox" data-name="Почта России" name="type_delivery_moment" value="map" id="map")
													label(for="map") Почта России

									.filter-block__group.range-block( data-name="price")
										.filter-block__title Цена, руб.
										.filter-block__prices
											.filter-block__prices__input
												input.range-block__from.inputbox.c-filter-spoiler-range__start.js-only-numbers(type="text" value="" placeholder="От" name="order_price_start" id="id_order_price_start")
											.filter-block__prices__sep
											.filter-block__prices__input
												input.range-block__to.inputbox.js-only-numbers.c-filter-spoiler-range__end(type="text" value="" placeholder="До" name="order_price_end" id="id_order_price_start")
										.filter-block__range
											input.js-range-slider(data-type="double" data-min="0" data-max="20000" data-from="0" data-to="20000" data-grid="false")

									.filter-block__group.range-block( data-name="count")
										.filter-block__title Количество
										.filter-block__item
											select.js-filter-sizetype-select.nice-select--no-search(name="filter-sizetype")
												option( value="g") гр
												option(value="mg") мг
												option(value="ml") мл
												option(selected="" value="pcs") штук
										.filter-block__prices
											.filter-block__prices__input
												input.range-block__from.inputbox.js-only-numbers.c-filter-spoiler-range__start(type="text" value="" placeholder="От" name="order_size_start" id="id_order_price_start")
											.filter-block__prices__sep
											.filter-block__prices__input
												input.range-block__to.inputbox.js-only-numbers.c-filter-spoiler-range__end(type="text" value="" placeholder="До" name="order_size_end" id="id_order_price_start")
										.filter-block__range
											input.js-range-slider(data-type="double" data-min="0" data-max="1000" data-from="0" data-to="1000" data-grid="false")
									
									if data.sfx == 'shop'
										.filter-block__group
											.checkbox
												input(type="checkbox" id="stock")
												label(for="stock") Только в наличии

									.filter-block__buttons
										.filter-block__buttons__row
											.filter-block__button.d-none.js-filter-reset
												button.btn.btn--border.btn--grey.is-btn-block Сбросить
											.filter-block__button
												button.btn.is-btn-block.js-filter-apply Применить
											//- .filter-block__button.col-12
											//- 	button.btn.is-btn-block.js-filter-apply Применить


mixin filter-in-product-preorder(data)
	//- var pages = data.sfx;

	if(data != undefined && data.sfx != undefined)
		- var classes = ['filter-block--'+data.sfx];

	

		.filter-block.js-filter-wrap#preorder_filter_wrap(class = classes, data-target="#preorder_list")
								.filter-block__overflow.js-filter-close
								a.filter-block__close.js-filter-close(href="#")
									svg.icon
										use(xlink:href="images/sprite.svg#icon-close")
								.filter-block__body
									.filter-block__mob-title Фильтр <span class="js-filter-count-span"></span>
									.filter-block__group
										.filter-block__item
											select.js-filter-region-select(name="preorder-filter-region-select")
												option( value="default" data-display="Все города")
										.filter-block__item
											select.js-filter-subregion-select(name="preorder-filter-subregion-select" disabled)
												option( value="default" data-display="Любой район")

									.filter-block__group.c-filter-spoiler( data-name="delivery")
										.filter-block__title.c-filter-spoiler__summary
											span.c-filter-spoiler__js-value( data-value="" data-default-caption="Любой тип") Доставка
										.filter-block__list.checkbox-list.c-filter
												.checkbox
													input(type="checkbox" data-name="Самовывоз" name="type_delivery_moment" id="magnet-2" value="magnet")
													label(for="magnet-2") Самовывоз
												.checkbox
													input(type="checkbox" data-name="Курьером" name="type_delivery_moment" id="shovel-2" value="shovel")
													label(for="shovel-2") Курьером
												.checkbox
													input(type="checkbox" data-name="Почта России" name="type_delivery_moment" value="map" id="map-2")
													label(for="map-2") Почта России

									.filter-block__group.range-block.c-filter-spoiler-range( data-name="price")
										.filter-block__title Цена, руб. 
										.filter-block__prices
											.filter-block__prices__input
												input.range-block__from.inputbox.c-filter-spoiler-range__start.js-only-numbers(type="text" value="" placeholder="От" name="order_price_start" id="id_order_price_start")
											.filter-block__prices__sep
											.filter-block__prices__input
												input.range-block__to.inputbox.js-only-numbers.c-filter-spoiler-range__end(type="text" value="" placeholder="До" name="order_price_end" id="id_order_price_start")
										.filter-block__range
											input.js-range-slider(data-type="double" data-min="0" data-max="20000" data-from="0" data-to="20000" data-grid="false")

									.filter-block__group.range-block( data-name="count")
										.filter-block__title Количество
										.filter-block__item
											select.js-filter-sizetype-select.nice-select--no-search(name="filter-sizetype")
												option(value="g") гр
												option(value="mg") мг
												option(value="ml") мл
												option(selected="" value="pcs") штук
										.filter-block__prices
											.filter-block__prices__input
												input.range-block__from.inputbox.js-only-numbers.c-filter-spoiler-range__start(type="text" value="" placeholder="От" name="order_size_start" id="id_order_price_start")
											.filter-block__prices__sep
											.filter-block__prices__input
												input.range-block__to.inputbox.js-only-numbers.c-filter-spoiler-range__end(type="text" value="" placeholder="До" name="order_size_end" id="id_order_price_start")
										.filter-block__range
											input.js-range-slider(data-type="double" data-min="0" data-max="1000" data-from="0" data-to="1000" data-grid="false")
									
									if data.sfx == 'shop'
										.filter-block__group
											.checkbox
												input(type="checkbox" id="stock")
												label(for="stock") Только в наличии

									.filter-block__buttons
										.filter-block__buttons__row
											.filter-block__button.d-none.js-filter-reset
												button.btn.btn--border.btn--grey.is-btn-block Сбросить
											.filter-block__button
												button.btn.is-btn-block.js-filter-apply Применить
											//- .filter-block__button.col-12
											//- 	button.btn.is-btn-block.js-filter-apply Применить