//- include ../icon/icon

mixin logo(data)
	.logo&attributes(attributes)
		//- a.logo__mob-logo(href="/")
			//- img(src="images/logo-min.png" alt="")
		a.logo__img(href="/")
			img(src="images/logo.svg" alt="RELOFT ART")

