
mixin main-menu(data)
	if(data != undefined && data.sfx != undefined)
		- var classes = ['mobile-block--'+data.sfx]

	nav.main-menu(class = classes)

							.main-menu__item.parent
								a(href="#")
									span Каталог
									svg.icon
										use(xlink:href="images/sprite.svg#arrow-down")

								.main-menu__sub
									.main-menu__col.main-menu__col--grey
										.main-menu__subitem
											a.js-show-submenu.active(href="#" data-id="sub-3") Картины
										.main-menu__subitem
											a.js-show-submenu(href="#" data-id="sub-4") Принты
										.main-menu__subitem
											a(href="#") Фотографии
										.main-menu__subitem
											a(href="#") Графика
										.main-menu__subitem
											a(href="#") Скульптура
										.main-menu__subitem
											a(href="#") Декор
									.main-menu__col
										.main-menu__subtitle Тема
										.main-menu__subitem.show(data-parent="sub-3")
											a(href="#") Абстракция
										.main-menu__subitem.show(data-parent="sub-3")
											a(href="#") Пейзаж
										.main-menu__subitem.show(data-parent="sub-3")
											a(href="#") Натюрморт
										.main-menu__subitem.show(data-parent="sub-3")
											a(href="#") Животные
										.main-menu__subitem.show(data-parent="sub-3")
											a(href="#") Растения
										.main-menu__subitem.show(data-parent="sub-3")
											a(href="#") Портрет
										.main-menu__subitem.show(data-parent="sub-3")
											a(href="#") Архитектура
										.main-menu__subitem.show(data-parent="sub-3")
											a(href="#") Смотреть больше

										.main-menu__subitem(data-parent="sub-4")
											a(href="#") Животные
										.main-menu__subitem(data-parent="sub-4")
											a(href="#") Растения
										.main-menu__subitem(data-parent="sub-4")
											a(href="#") Портрет
										.main-menu__subitem(data-parent="sub-4")
											a(href="#") Архитектура
										.main-menu__subitem(data-parent="sub-4")
											a(href="#") Смотреть больше

									.main-menu__col
										.main-menu__subtitle Стиль
										.main-menu__subitem.show(data-parent="sub-3")
											a(href="#") Абстракционизм
										.main-menu__subitem.show(data-parent="sub-3")
											a(href="#") Сюрреализм
										.main-menu__subitem.show(data-parent="sub-3")
											a(href="#") Импрессионизм
										.main-menu__subitem.show(data-parent="sub-3")
											a(href="#") Кубизм
										.main-menu__subitem.show(data-parent="sub-3")
											a(href="#") Футуризм
										.main-menu__subitem.show(data-parent="sub-3")
											a(href="#") Реализм
										.main-menu__subitem.show(data-parent="sub-3")
											a(href="#") Поп-арт
										.main-menu__subitem.show(data-parent="sub-3")
											a(href="#") Смотреть больше

										.main-menu__subitem(data-parent="sub-4")
											a(href="#") Футуризм
										.main-menu__subitem(data-parent="sub-4")
											a(href="#") Реализм
										.main-menu__subitem(data-parent="sub-4")
											a(href="#") Поп-арт
										.main-menu__subitem(data-parent="sub-4")
											a(href="#") Смотреть больше

							.main-menu__item.parent
								a(href="#")
									span Бренды / Художники
									svg.icon
										use(xlink:href="images/sprite.svg#arrow-down")

								.main-menu__sub
									.main-menu__col.main-menu__col--grey
										.main-menu__subitem.active
											a.js-show-submenu.active(href="#" data-id="brand") Бренды
										.main-menu__subitem
											a.js-show-submenu(href="#" data-id="painter") Художники
									.main-menu__col
										.main-menu__subitem.show(data-parent="brand")
											a.js-show-submenu(href="#sub-1" data-id="sub-1") Restoration Hardware
										.main-menu__subitem.show(data-parent="brand")
											a.js-show-submenu(href="#sub-2" data-id="sub-2") Eichholtz
										.main-menu__subitem.show(data-parent="brand")
											a(href="#") Cobra ART
										.main-menu__subitem.show(data-parent="brand")
											a(href="#") John Richard

										.main-menu__subitem(data-parent="painter")
											a(href="#") Художники
										.main-menu__subitem(data-parent="painter")
											a(href="#") Фотографы
										.main-menu__subitem(data-parent="painter")
											a(href="#") Принтмейкеры
										.main-menu__subitem(data-parent="painter")
											a(href="#") Скульпторы
										.main-menu__subitem(data-parent="painter")
											a(href="#") Дизайнеры

									.main-menu__col.main-menu__col--banner
										.main-menu__banner.show
											img(src="images/banner.jpg")
										.main-menu__subitem(data-parent="sub-1")
											a(href="#") Картины
										.main-menu__subitem(data-parent="sub-1")
											a(href="#") Принты
										.main-menu__subitem(data-parent="sub-1")
											a(href="#") Фотографии
										.main-menu__subitem(data-parent="sub-1")
											a(href="#") Графика
										.main-menu__subitem(data-parent="sub-1")
											a(href="#") Скульптура
										.main-menu__subitem(data-parent="sub-1")
											a(href="#") Декор
										.main-menu__subitem(data-parent="sub-1")
											a(href="#") Репродукции
										.main-menu__subitem(data-parent="sub-1")
											a(href="#") Смотреть больше

										.main-menu__subitem(data-parent="sub-2")
											a(href="#") Картины
										.main-menu__subitem(data-parent="sub-2")
											a(href="#") Принты
										.main-menu__subitem(data-parent="sub-2")
											a(href="#") Фотографии
										.main-menu__subitem(data-parent="sub-2")
											a(href="#") Графика

							.main-menu__item.parent
								a(href="#")
									span Услуги
									svg.icon
										use(xlink:href="images/sprite.svg#arrow-down")

								.main-menu__sub
									.main-menu__col.main-menu__col--grey
										.main-menu__subitem
											a(href="#") Графика и живопись на заказ
										.main-menu__subitem
											a(href="#") Подбор искусства
										.main-menu__subitem
											a(href="#") Художественная роспись
										.main-menu__subitem
											a(href="#") Багетная мастерская
										.main-menu__subitem
											a(href="#") Графический дизайн
									
									.main-menu__col.main-menu__col--two
										.main-menu__banner.show
											img(src="images/banner-2x.jpg")
										
							.main-menu__item
								a(href="#") SALE



