
mixin menu-category(data)
	.menu-category
		.menu-category__overflow.js-menu-category
		a.menu-category__close.js-menu-category(href="#")
			svg.icon
				use(xlink:href="images/sprite.svg#icon-close")
		.menu-category__title.js-menu-category Категории <span>все</span>
		.menu-category__wrap
			.menu-category__mob-title Категории
			.menu-category__list
				.menu-category__item.parent.active
					a(href="#") Компьютеры и ноутбуки
						.menu-category__arrow
							svg.icon
								use(xlink:href="images/sprite.svg#arrow-down")

					.menu-category__sub
						.menu-category__sub__item.parent
							a(href="") Apple
								.menu-category__arrow
									svg.icon
										use(xlink:href="images/sprite.svg#arrow-down")
							.menu-category__sub
								.menu-category__sub__item
									a(href="") Apple
								.menu-category__sub__item.active
									a(href="") Ноутбуки
								.menu-category__sub__item
									a(href="") Планшеты

						.menu-category__sub__item
							a(href="") Ноутбуки
						.menu-category__sub__item.parent
							a(href="") Планшеты
								.menu-category__arrow
									svg.icon
										use(xlink:href="images/sprite.svg#arrow-down")
							.menu-category__sub
								.menu-category__sub__item
									a(href="") Apple
								.menu-category__sub__item
									a(href="") Ноутбуки
								.menu-category__sub__item
									a(href="") Планшеты
								.menu-category__sub__item
									a(href="") Компьютеры

						.menu-category__sub__item
							a(href="") Компьютеры
						.menu-category__sub__item
							a(href="") Моноблоки
						.menu-category__sub__item
							a(href="") Периферийные устройства
							
				.menu-category__item
					a(href="#") Смартфоны и мобильные телефоны
				.menu-category__item.parent
					a(href="#") Бытовая техника
						.menu-category__arrow
							svg.icon
								use(xlink:href="images/sprite.svg#arrow-down")
					.menu-category__sub
						.menu-category__sub__item.parent
							a(href="") Apple
								.menu-category__arrow
									svg.icon
										use(xlink:href="images/sprite.svg#arrow-down")
							.menu-category__sub
								.menu-category__sub__item
									a(href="") Apple
								.menu-category__sub__item
									a(href="") Ноутбуки
								.menu-category__sub__item
									a(href="") Планшеты

						.menu-category__sub__item
							a(href="") Ноутбуки
						.menu-category__sub__item.parent
							a(href="") Планшеты
								.menu-category__arrow
									svg.icon
										use(xlink:href="images/sprite.svg#arrow-down")
							.menu-category__sub
								.menu-category__sub__item
									a(href="") Apple
								.menu-category__sub__item
									a(href="") Ноутбуки
								.menu-category__sub__item
									a(href="") Планшеты
								.menu-category__sub__item
									a(href="") Компьютеры

						.menu-category__sub__item
							a(href="") Компьютеры
						.menu-category__sub__item
							a(href="") Моноблоки
						.menu-category__sub__item
							a(href="") Периферийные устройства

				.menu-category__item
					a(href="#") Товары для дома
					
				.menu-category__item
					a(href="#") Инструменты и автотовары 
					
				.menu-category__item.parent
					a(href="#") Сантехника и ремонт
						.menu-category__arrow
							svg.icon
								use(xlink:href="images/sprite.svg#arrow-down")
					.menu-category__sub
						.menu-category__sub__item
							a(href="") Apple
						.menu-category__sub__item
							a(href="") Ноутбуки
						.menu-category__sub__item.parent
							a(href="") Планшеты
								.menu-category__arrow
									svg.icon
										use(xlink:href="images/sprite.svg#arrow-down")
							.menu-category__sub
								.menu-category__sub__item
									a(href="") Apple
								.menu-category__sub__item
									a(href="") Ноутбуки
								.menu-category__sub__item
									a(href="") Планшеты
								.menu-category__sub__item
									a(href="") Компьютеры

						.menu-category__sub__item
							a(href="") Компьютеры
						.menu-category__sub__item
							a(href="") Моноблоки
						.menu-category__sub__item
							a(href="") Периферийные устройства
				.menu-category__item
					a(href="#") Дача и огород
				.menu-category__item
					a(href="#") Одежда, обувь и украшения
				.menu-category__item.parent
					a(href="#") Красота и здоровье 
						.menu-category__arrow
							svg.icon
								use(xlink:href="images/sprite.svg#arrow-down")
					.menu-category__sub
						.menu-category__sub__item.parent
							a(href="") Apple
								.menu-category__arrow
									svg.icon
										use(xlink:href="images/sprite.svg#arrow-down")
							.menu-category__sub
								.menu-category__sub__item
									a(href="") Apple
								.menu-category__sub__item
									a(href="") Ноутбуки
								.menu-category__sub__item
									a(href="") Планшеты

						.menu-category__sub__item
							a(href="") Ноутбуки
						.menu-category__sub__item.parent
							a(href="") Планшеты
								.menu-category__arrow
									svg.icon
										use(xlink:href="images/sprite.svg#arrow-down")
							.menu-category__sub
								.menu-category__sub__item
									a(href="") Apple
								.menu-category__sub__item.active
									a(href="") Ноутбуки
								.menu-category__sub__item
									a(href="") Планшеты
								.menu-category__sub__item
									a(href="") Компьютеры

						.menu-category__sub__item
							a(href="") Компьютеры
						.menu-category__sub__item.active
							a(href="") Моноблоки 1
						.menu-category__sub__item
							a(href="") Периферийные устройства
				.menu-category__item
					a(href="#") Книги
				.menu-category__item
					a(href="#") Еда и алкоголь