
include ../blocks/search-block

mixin mobile-block(data)
	.mobile-block
		.mobile-block__row
			.mobile-block__body
				.mobile-block__head
					.mobile-block__back
						svg.icon
							use(xlink:href="images/sprite.svg#arrow-left")
					.mobile-block__title Меню
				.mobile-block__wrap
					.mobile-block__search
						+search-block({sfx: 'black', iconBtn: 'icon-send'})
							
					.mobile-block__menu
						.mobile-menu
							.mobile-menu__item
								a(href="#") Весь каталог
							.mobile-menu__item.parent
								a(href="#") Картины
								.mobile-menu__arrow
									svg.icon
										use(xlink:href="images/sprite.svg#arrow-right")

								.mobile-menu__sub
									.mobile-menu__head Картины
										a.mobile-menu__back.js-back-menu(href="#")
											svg.icon
												use(xlink:href="images/sprite.svg#arrow-left")
									
									.mobile-menu__sub-item
										a(href="#") Все картины
									.mobile-menu__sub-item
										a(href="#") Тема
									.mobile-menu__sub-item
										a(href="#") Абстракция
									.mobile-menu__sub-item
										a(href="#") Пейзаж
									.mobile-menu__sub-item
										a(href="#") Натюрморт
									.mobile-menu__sub-item
										a(href="#") Животные
									.mobile-menu__sub-item
										a(href="#") Растения
									.mobile-menu__sub-item
										a(href="#") Портрет
									.mobile-menu__sub-item
										a(href="#") Архитектура
									.mobile-menu__more
										a(href="#")
											svg.icon
												use(xlink:href="images/sprite.svg#icon-send")
											span Смотреть больше

									.mobile-menu__sub-title Стиль
									.mobile-menu__sub-item
										a(href="#") Абстракционизм
									.mobile-menu__sub-item
										a(href="#") Абстрактный импрессионизм
									.mobile-menu__sub-item
										a(href="#") Импрессионизм
									.mobile-menu__sub-item
										a(href="#") Кубизм
									.mobile-menu__sub-item
										a(href="#") Футуризм
									.mobile-menu__sub-item
										a(href="#") Реализм
									.mobile-menu__sub-item
										a(href="#") Поп-арт
									.mobile-menu__more
										a(href="#")
											svg.icon
												use(xlink:href="images/sprite.svg#icon-send")
											span Смотреть больше

									.mobile-menu__sub-title Техника
									.mobile-menu__sub-item
										a(href="#") Synograph 3D Print
									.mobile-menu__sub-item
										a(href="#") Акрил
									.mobile-menu__sub-item
										a(href="#") Масло
									.mobile-menu__sub-item
										a(href="#") Гуашь
									.mobile-menu__sub-item
										a(href="#") Акварель
									.mobile-menu__sub-item
										a(href="#") Смешанная техника
									.mobile-menu__sub-item
										a(href="#") Пастель
									.mobile-menu__more
										a(href="#")
											svg.icon
												use(xlink:href="images/sprite.svg#icon-send")
											span Смотреть больше

							.mobile-menu__item.parent
								a(href="#") Принты
								.mobile-menu__arrow
									svg.icon
										use(xlink:href="images/sprite.svg#arrow-right")
							.mobile-menu__item.parent
								a(href="#") Фотографии
								.mobile-menu__arrow
									svg.icon
										use(xlink:href="images/sprite.svg#arrow-right")
							.mobile-menu__item.parent
								a(href="#") Графика
								.mobile-menu__arrow
									svg.icon
										use(xlink:href="images/sprite.svg#arrow-right")
							.mobile-menu__item.parent
								a(href="#") Скульптура
								.mobile-menu__arrow
									svg.icon
										use(xlink:href="images/sprite.svg#arrow-right")
							.mobile-menu__item.parent
								a(href="#") Декор
								.mobile-menu__arrow
									svg.icon
										use(xlink:href="images/sprite.svg#arrow-right")
							.mobile-menu__item.parent
								a(href="#") Бренды / Художники
								.mobile-menu__arrow
									svg.icon
										use(xlink:href="images/sprite.svg#arrow-right")
							.mobile-menu__item.parent
								a(href="#") Услуги
								.mobile-menu__arrow
									svg.icon
										use(xlink:href="images/sprite.svg#arrow-right")
							.mobile-menu__item
								a(href="#") SALE

					.mobile-block__contacts
						.mobile-menu.mobile-menu--contacts
							.mobile-menu__item
								a(href="#") Мебель
							.mobile-menu__item
								a(href="#") Дизайн студия
							.mobile-menu__item
								a(href="#") 
									svg.icon
										use(xlink:href="images/sprite.svg#icon-marker")
									span Контакты
							.mobile-menu__item
								a(href="#") 
									svg.icon
										use(xlink:href="images/sprite.svg#icon-user-2")
									span Личный кабинет
							.mobile-menu__item
								a(href="#") 
									svg.icon
										use(xlink:href="images/sprite.svg#icon-favorite")
									span Избранное
							.mobile-menu__item
								a(href="#") +7 495 120 06 37
							.mobile-menu__item
								a(href="#") О нас
							.mobile-menu__item.parent
								a(href="#") Сотрудничество
								.mobile-menu__arrow
									svg.icon
										use(xlink:href="images/sprite.svg#arrow-right")

			.mobile-block__right
				a.mobile-block__close.js-close-menu(href="#")
					svg.icon
						use(xlink:href="images/sprite.svg#icon-close")

				.mobile-block__filter
					a.js-mob-filter-show(href="#")
						svg.icon
							use(xlink:href="images/sprite.svg#icon-filter")
				
