
mixin pagination(data)
	.pagination
		.pagination__item.active
			a(href="#") 1
		.pagination__item
			a(href="#") 2
		.pagination__item
			a(href="#") 3
		.pagination__item.hidden-xs
			a(href="#") 4
		.pagination__item.hidden-xs
			a(href="#") 5
		.pagination__item 
			span ...
		.pagination__item
			a(href="#") 12