
mixin popup(data)
	if(data != undefined && data.sfx != undefined)
		- var classes = ['popup--'+data.sfx]
		- var classesWrap = ['popup-wrap--'+data.sfx]

	.popup-wrap(class = classesWrap, id = data.id)
		.popup-wrap__overflow.js-popup-close

		.popup(class = classes)
			a.popup__close.js-popup-close(href="#")
				svg.icon.icon-inline__icon
					use(xlink:href="images/sprite.svg#icon-close")

			block