

mixin search-block(data)
	if(data != undefined && data.sfx != undefined)
		- var classes = ['search-block--'+data.sfx]

	if(data != undefined && data.iconBtn != undefined)
		- var icon = data.iconBtn
	else 
		- var icon = "icon-search"

	- var img = "images/sprite.svg#"+icon;

	if(data != undefined && data.placeholder != undefined)
		- var placeholder = data.placeholder
	else 
		- var placeholder = "Поиск"

	.search-block(class = classes)
		form(action="")
			input.search-block__input(type="text" placeholder = placeholder)
			button.search-block__btn(type="submit")
				if data != undefined && data.btnText != "" && data.btnText != undefined
					span= data.btnText
				svg.icon
					use(xlink:href = img)