
mixin tab-nav(data)
	
	.shop-page__tabs.tab-nav.noinit&attributes(attributes)

		if(data.id == 1)
			.tab-nav__item.active
				a(href="") Витрина
		else
			.tab-nav__item
				a(href="") Витрина

		if(data.id == 2)	
			.tab-nav__item.active
				a(href="") О магазине
		else
			.tab-nav__item
				a(href="") О магазине

		if(data.id == 3)	
			.tab-nav__item.active
				a(href="") Отзывы
		else
			.tab-nav__item
				a(href="") Отзывы
					
		if(data.id == 4)
			.tab-nav__item.active
				a(href="") Характеристика
		else
			.tab-nav__item
				a(href="") Характеристика

		if(data.id == 5)
			.tab-nav__item.active
				a(href="") Контакты
		else
			.tab-nav__item
				a(href="") Контакты

		if(data.id == 6)
			.tab-nav__item.active
				a(href="") Доставка
		else
			.tab-nav__item
				a(href="") Доставка

		if(data.id == 7)
			.tab-nav__item.active
				a(href="") Возврат
		else
			.tab-nav__item
				a(href="") Возврат
							
			.tab-nav__item
				a(href="") Еще п2
			.tab-nav__item
				a(href="") Еще п3
			.tab-nav__item
				a(href="") Еще пункт длинный
			.tab-nav__item
				a(href="") Еще пункт длинный 2