extends layouts/default

include layouts/footer
include layouts/header
include layouts/main-section
include layouts/subscribe-section
include layouts/partner-section
include layouts/seo-section
//- include blocks/burger
include blocks/container


block head
	- page.title = "Главная"
	- page.class = ['home-page']

//- block mobile-menu
//-	+mobile-menu(mainMenu.default)
	
block header
	+header({sfx: page.class})

block main
	.slider-section
		.slider-section__img.js-index-slider-img
			.slider-section__img__item
				img(src="images/index-slider-img-1.jpg" srcset="/images/index-slider-img-1.jpg 1x, /images/index-slider-img-1@2x.jpg 2x" alt="")
			.slider-section__img__item
				img(src="images/index-slider-img-1.jpg" srcset="/images/index-slider-img-1.jpg 1x, /images/index-slider-img-1@2x.jpg 2x" alt="")

		.slider-section__content
			.container
				.slider-section__info-slider.js-index-slider-info
					.slider-section__info-slider__item
						.slider-section__info
							.slider-section__info__label 
								span Коллекция
							.slider-section__info__title DANIELA SCHWEINSBERG
							.slider-section__info__text Абстракционист из Германии, чьи работы представлены брендом Restoration Hardware, благодаря технологии  Synograph ™ современное искусство у вас дома.
							.slider-section__info__button
								a.btn.btn--letter-spacing(href="#") Смотреть

					.slider-section__info-slider__item
						.slider-section__info
							.slider-section__info__label 
								span Коллекция
							.slider-section__info__title SCHWEINSBERG DANIELA
							.slider-section__info__text Абстракционист из Говландии, чьи работы представлены брендом Restoration Hardware, благодаря технологии  Synograph ™ современное искусство у вас дома.
							.slider-section__info__button
								a.btn.btn--letter-spacing(href="#") Смотреть

			.js-slider-section-dots

	.new-product-section
		.container.container--lg
			.new-product-section__title.title-h1 ПОДБЕРИТЕ ИДЕАЛЬНУЮ<br> РАБОТУ ДЛЯ ВАШЕГО ИНТЕРЬЕРА
			.new-product-section__row.row.row--stretch
				.new-product-section__row__item.col-8.col-xs-12
					.category-block
						.category-block__img
							img(src="images/category-img-1.jpg" srcset="/images/category-img-1.jpg 1x, /images/category-img-1@2x.jpg 2x" alt="")
						.category-block__wrap
							.category-block__category Картины
							.category-block__title Restoration Hardware
							.category-block__more
								a(href="#") Смотреть
				.new-product-section__row__item.col-4.col-xs-12
					.category-block
						.category-block__img
							img(src="images/category-img-2.jpg" srcset="/images/category-img-2.jpg 1x, /images/category-img-2@2x.jpg 2x" alt="")
						.category-block__wrap
							.category-block__category Принты
							.category-block__title Restoration Hardware
							.category-block__more
								a(href="#") Смотреть
				.new-product-section__row__item.col-4.col-xs-12
					.category-block
						.category-block__img
							img(src="images/category-img-3.jpg" srcset="/images/category-img-3.jpg 1x, /images/category-img-3@2x.jpg 2x" alt="")
						.category-block__wrap
							.category-block__category Диджитал арт
							.category-block__title Cobra Art
							.category-block__more
								a(href="#") Смотреть
				.new-product-section__row__item.col-4.col-xs-12
					.category-block
						.category-block__img
							img(src="images/category-img-4.jpg" srcset="/images/category-img-4.jpg 1x, /images/category-img-4@2x.jpg 2x" alt="")
						.category-block__wrap
							.category-block__category Декор
							.category-block__title Restoration Hardware
							.category-block__more
								a(href="#") Смотреть
				.new-product-section__row__item.col-4.col-xs-12
					.category-block
						.category-block__img
							img(src="images/category-img-5.jpg" srcset="/images/category-img-5.jpg 1x, /images/category-img-5@2x.jpg 2x" alt="")
						.category-block__wrap
							.category-block__category Скульптура
							.category-block__title Eichholtz
							.category-block__more
								a(href="#") Смотреть
	
			.new-product-section__head
				.new-product-section__head__left
					.new-product-section__subtitle Новые товары
					.new-product-section__desc Смотрите нашу свежую подборку
				.new-product-section__more
					a(href="#") Все работы
			.new-product-section__slider.js-new-product-slick
				.new-product-section__item
					.product-block.product-block--no-border.product-block--view-1
							.product-block__img
								.product-block__label Новинка
								a.product-block__favorite.js-add-favorite(href="#" data-id="1")
									svg.icon
										use(xlink:href="images/sprite.svg#icon-favorite")

								a(href="#")
									img.lazy(src="images/product-thumb.jpg" data-src="images/product-img-1.jpg" data-srcset="images/product-img-1.jpg 1x, images/product-img-1@2x.jpg 2x" alt="")
							.product-block__body
								.product-block__title Время для себя
								.product-block__param
									.product-block__param__label Бренд:
									.product-block__param__value 
										a(href="#") Restoration Hardware
								.product-block__param
									.product-block__param__label Художник: 
									.product-block__param__value 
										a(href="#") Sallie White
								.product-block__param
									.product-block__param__label Размер:
									.product-block__param__value (122 х 122 см.)
								.product-block__price <span class="product-block__price__label">Цена:</span> 234 000 руб.

				.new-product-section__item
					.product-block.product-block--no-border.product-block--view-1
							.product-block__img
								.product-block__label.product-block__label--sale SALE 30%
								a.product-block__favorite.js-add-favorite(href="#" data-id="1")
									svg.icon
										use(xlink:href="images/sprite.svg#icon-favorite")
								a(href="#")
									img.lazy(src="images/product-thumb.jpg" data-src="images/product-img-2.jpg" data-srcset="images/product-img-2.jpg 1x, images/product-img-2@2x.jpg 2x" alt="")
							.product-block__body
								.product-block__title Этого не было
								.product-block__param
									.product-block__param__label Бренд:
									.product-block__param__value 
										a(href="#") Restoration Hardware
								.product-block__param
									.product-block__param__label Художник: 
									.product-block__param__value 
										a(href="#") Sallie White
								.product-block__param
									.product-block__param__label Размер:
									.product-block__param__value (122 х 122 см.)
								.product-block__price <span class="product-block__price__label">Цена:</span> 334 000 руб.

				.new-product-section__item
					.product-block.product-block--no-border.product-block--view-1
							.product-block__img
								a.product-block__favorite.js-add-favorite(href="#" data-id="1")
									svg.icon
										use(xlink:href="images/sprite.svg#icon-favorite")
								a(href="#")
									img.lazy(src="images/product-thumb.jpg" data-src="images/product-img-3.jpg" data-srcset="images/product-img-3.jpg 1x, images/product-img-3@2x.jpg 2x" alt="")
							.product-block__body
								.product-block__title Финал
								.product-block__param
									.product-block__param__label Художник: 
									.product-block__param__value 
										a(href="#") Miles Regis
								.product-block__param
									.product-block__param__label Размер:
									.product-block__param__value (109.2 х 78.7см.)
								.product-block__price <span class="product-block__price__label">Цена:</span> <span class="product-block__old-price">334 000 руб.</span> 334 000 руб.

				.new-product-section__item
					.product-block.product-block--no-border.product-block--view-1
							.product-block__img
								a.product-block__favorite.js-add-favorite(href="#" data-id="1")
									svg.icon
										use(xlink:href="images/sprite.svg#icon-favorite")
								a(href="#")
									img.lazy(src="images/product-thumb.jpg" data-src="images/product-img-4.jpg" data-srcset="images/product-img-4.jpg 1x, images/product-img-4@2x.jpg 2x" alt="")
							.product-block__body
								.product-block__title Время для себя
								.product-block__param
									.product-block__param__label Бренд:
									.product-block__param__value 
										a(href="#") Restoration Hardware
								.product-block__param
									.product-block__param__label Художник: 
									.product-block__param__value 
										a(href="#") Sallie White
								.product-block__param
									.product-block__param__label Размер:
									.product-block__param__value (122 х 122 см.)
								.product-block__price <span class="product-block__price__label">Цена:</span> 134 000 руб.

				.new-product-section__item
					.product-block.product-block--no-border.product-block--view-1
							.product-block__img
								.product-block__label.product-block__label--sale SALE 30%
								a.product-block__favorite.js-add-favorite(href="#" data-id="1")
									svg.icon
										use(xlink:href="images/sprite.svg#icon-favorite")
								a(href="#")
									img.lazy(src="images/product-thumb.jpg" data-src="images/product-img-2.jpg" data-srcset="images/product-img-2.jpg 1x, images/product-img-2@2x.jpg 2x" alt="")
							.product-block__body
								.product-block__title Этого не было
								.product-block__param
									.product-block__param__label Бренд:
									.product-block__param__value 
										a(href="#") Restoration Hardware
								.product-block__param
									.product-block__param__label Художник: 
									.product-block__param__value 
										a(href="#") Sallie White
								.product-block__param
									.product-block__param__label Размер:
									.product-block__param__value (122 х 122 см.)
								.product-block__price <span class="product-block__price__label">Цена:</span> 334 000 руб.

				.new-product-section__item
					.product-block.product-block--no-border.product-block--view-1
							.product-block__img
								a.product-block__favorite.js-add-favorite(href="#" data-id="1")
									svg.icon
										use(xlink:href="images/sprite.svg#icon-favorite")
								a(href="#")
									img.lazy(src="images/product-thumb.jpg" data-src="images/product-img-3.jpg" data-srcset="images/product-img-3.jpg 1x, images/product-img-3@2x.jpg 2x" alt="")
							.product-block__body
								.product-block__title Финал
								.product-block__param
									.product-block__param__label Художник: 
									.product-block__param__value 
										a(href="#") Miles Regis
								.product-block__param
									.product-block__param__label Размер:
									.product-block__param__value (109.2 х 78.7см.)
								.product-block__price <span class="product-block__price__label">Цена:</span> <span class="product-block__old-price">334 000 руб.</span> 334 000 руб.

	.category-section
		.container.container--lg
			.category-section__grid.js-category-grid
				.category-section__item.item-0.js-grid-item(data-num="1")
					.category-section__title СМОТРИТЕ<br> И ПРИОБРЕТАЙТЕ<br> ЛУЧШЕЕ<br> ИЗ МИРА ДЕКОРА<br> И СОВРЕМЕННОГО ИСКУСТВА
					.category-section__buttons.hidden-xs
						a.btn.btn--letter-spacing(href="#") Смотреть
				

				.category-section__item.item-2.js-grid-item(data-num="2")
					.category-block.category-block--default
						a.category-block__link(href="#")
						.category-block__img
							img(src="images/cat-img-2.jpg" srcset="/images/cat-img-2.jpg 1x, /images/cat-img-2@2x.jpg 2x" alt="")
						.category-block__wrap
							.category-block__title Абстракция

				.category-section__item.item-4.js-grid-item(data-num="3")
					.category-block.category-block--default
						a.category-block__link(href="#")
						.category-block__img
							img(src="images/cat-img-3.jpg" srcset="/images/cat-img-3.jpg 1x, /images/cat-img-3@2x.jpg 2x" alt="")
						.category-block__wrap
							.category-block__title Архитектура

				.category-section__item.item-1.js-grid-item(data-num="4")
					.category-block.category-block--default
						a.category-block__link(href="#")
						.category-block__img
							img(src="images/cat-img-1.jpg" srcset="/images/cat-img-1.jpg 1x, /images/cat-img-1@2x.jpg 2x" alt="")
						.category-block__wrap
							.category-block__title Pop-Art

				

				.category-section__item.item-3.js-grid-item(data-num="5")
					.category-block.category-block--default
						a.category-block__link(href="#")
						.category-block__img
							img(src="images/cat-img-4.jpg" srcset="/images/cat-img-4.jpg 1x, /images/cat-img-4@2x.jpg 2x" alt="")
						.category-block__wrap
							.category-block__title Пейзаж

				.category-section__item.item-5.js-grid-item(data-num="6")
					.category-block.category-block--default
						a.category-block__link(href="#")
						.category-block__img
							img(src="images/cat-img-5.jpg" srcset="/images/cat-img-5.jpg 1x, /images/cat-img-5@2x.jpg 2x" alt="")
						.category-block__wrap
							.category-block__title Китч

				.category-section__buttons.hidden.visible-xs
					a.btn.btn--letter-spacing(href="#") Смотреть
			
	.cheap-section
		.container.container--lg
			.cheap-section__row.row.row--stretch
				.cheap-section__item.col-3.col-sm-6.col-xs-12
					.cheap-banner
						.cheap-banner__rub
							svg.icon
								use(xlink:href="/images/sprite.svg#icon-rub")
						.cheap-banner__title НАЙДИТЕ САМУЮ УДОБНУЮ ЦЕНУ
						.cheap-banner__text С радостью поможем выбрать подходящую работу
						.cheap-banner__button
							a.btn.btn--letter-spacing.btn--md(href="#") ПОДОБРАТЬ
				.cheap-section__item.col-3.col-sm-6.col-xs-12
					.cheap-block
						.cheap-block__img
							img(src="images/cheap-img-1.jpg" data-src="images/cheap-img-1.jpg" data-srcset="images/cheap-img-1.jpg 1x, images/cheap-img-1@2x.jpg 2x" alt="")
						.cheap-block__wrap
							.cheap-block__title До<br> 50 000 р.
							.cheap-block__more
								a(href="#")
									svg.icon
										use(xlink:href="/images/sprite.svg#arrow-right-2")
				.cheap-section__item.col-3.col-sm-6.col-xs-12
					.cheap-block
						.cheap-block__img
							img(src="images/cheap-img-2.jpg" data-src="images/cheap-img-2.jpg" data-srcset="images/cheap-img-2.jpg 1x, images/cheap-img-2@2x.jpg 2x" alt="")
						.cheap-block__wrap
							.cheap-block__title От<br> 50 000 р.<br> до<br> 100 000 р.
							.cheap-block__more
								a(href="#")
									svg.icon
										use(xlink:href="/images/sprite.svg#arrow-right-2")
				.cheap-section__item.col-3.col-sm-6.col-xs-12
					.cheap-block
						.cheap-block__img
							img(src="images/cheap-img-3.jpg" data-src="images/cheap-img-3.jpg" data-srcset="images/cheap-img-3.jpg 1x, images/cheap-img-3@2x.jpg 2x" alt="")
						.cheap-block__wrap
							.cheap-block__title От<br> 100 000 р.
							.cheap-block__more
								a(href="#")
									svg.icon
										use(xlink:href="/images/sprite.svg#arrow-right-2")

	.new-artist-section
		.container.container--lg
			.new-artist-section__title НОВЫЕ ХУДОЖНИКИ
			.new-artist-section__slider.js-artist-slider
				.new-artist-section__item
					.artist-block
						.artist-block__img
							img(src="images/artist-img-1.jpg" data-src="images/artist-img-1.jpg" data-srcset="images/artist-img-1.jpg 1x, images/artist-img-1@2x.jpg 2x" alt="")
						.artist-block__wrap
							.artist-block__title Пётор Северянин
							.artist-block__position принтмэйкер
				.new-artist-section__item
					.artist-block
						.artist-block__img
							img(src="images/artist-img-2.jpg" data-src="images/artist-img-2.jpg" data-srcset="images/artist-img-2.jpg 1x, images/artist-img-2@2x.jpg 2x" alt="")
						.artist-block__wrap
							.artist-block__title Юлия Панфилова
							.artist-block__position художник
				.new-artist-section__item
					.artist-block
						.artist-block__img
							img(src="images/artist-img-1.jpg" data-src="images/artist-img-1.jpg" data-srcset="images/artist-img-1.jpg 1x, images/artist-img-1@2x.jpg 2x" alt="")
						.artist-block__wrap
							.artist-block__title Сергей Семёнов
							.artist-block__position скульптор
				.new-artist-section__item
					.artist-block
						.artist-block__img
							img(src="images/artist-img-2.jpg" data-src="images/artist-img-2.jpg" data-srcset="images/artist-img-2.jpg 1x, images/artist-img-2@2x.jpg 2x" alt="")
						.artist-block__wrap
							.artist-block__title Сергей Семёнов
							.artist-block__position скульптор
				.new-artist-section__item
					.artist-block
						.artist-block__img
							img(src="images/artist-img-1.jpg" data-src="images/artist-img-1.jpg" data-srcset="images/artist-img-1.jpg 1x, images/artist-img-1@2x.jpg 2x" alt="")
						.artist-block__wrap
							.artist-block__title Сергей Семёнов
							.artist-block__position скульптор
				.new-artist-section__item
					.artist-block
						.artist-block__img
							img(src="images/artist-img-2.jpg" data-src="images/artist-img-2.jpg" data-srcset="images/artist-img-2.jpg 1x, images/artist-img-2@2x.jpg 2x" alt="")
						.artist-block__wrap
							.artist-block__title Юлия Панфилова
							.artist-block__position художник
				.new-artist-section__item
					.artist-block
						.artist-block__img
							img(src="images/artist-img-1.jpg" data-src="images/artist-img-1.jpg" data-srcset="images/artist-img-1.jpg 1x, images/artist-img-1@2x.jpg 2x" alt="")
						.artist-block__wrap
							.artist-block__title Сергей Семёнов
							.artist-block__position скульптор

			.new-artist-section__button
				a.btn.btn--letter-spacing.btn--icon.btn--md(href="#")
					span ВСЕ ХУДОЖНИКИ
					svg.icon.btn__icon
						use(xlink:href="images/sprite.svg#arrow-right")

	.brands-section
		.container.container--lg
			.brands-section__title БРЕНДЫ
			.brands-section__slider.js-brands-slider
				.brands-section__item
					img(src="images/brand-img-1.png" data-src="images/brand-img-1.png" data-srcset="images/brand-img-1.png 1x, images/brand-img-1@2x.png 2x" alt="")
				.brands-section__item
					img(src="images/brand-img-2.png" data-src="images/brand-img-2.png" data-srcset="images/brand-img-2.png 1x, images/brand-img-2@2x.png 2x" alt="")
				.brands-section__item
					img(src="images/brand-img-3.png" data-src="images/brand-img-3.png" data-srcset="images/brand-img-3.png 1x, images/brand-img-3@2x.png 2x" alt="")
				.brands-section__item
					img(src="images/brand-img-4.png" data-src="images/brand-img-4.png" data-srcset="images/brand-img-4.png 1x, images/brand-img-4@2x.png 2x" alt="")
				.brands-section__item
					img(src="images/brand-img-5.png" data-src="images/brand-img-5.png" data-srcset="images/brand-img-5.png 1x, images/brand-img-5@2x.png 2x" alt="")
				.brands-section__item
					img(src="images/brand-img-1.png" data-src="images/brand-img-1.png" data-srcset="images/brand-img-1.png 1x, images/brand-img-1@2x.png 2x" alt="")
				.brands-section__item
					img(src="images/brand-img-3.png" data-src="images/brand-img-3.png" data-srcset="images/brand-img-3.png 1x, images/brand-img-3@2x.png 2x" alt="")
				.brands-section__item
					img(src="images/brand-img-4.png" data-src="images/brand-img-4.png" data-srcset="images/brand-img-4.png 1x, images/brand-img-4@2x.png 2x" alt="")
			hr.brands-section__hr
			.brands-section__row.row
				.brands-section__info.col-5.col-xs-12
					.brands-section__info__title Позвольте RELOFT ART помочь вам найти ваше новое любимое произведение искусства
					.brands-section__info__text
						p Ищете совет?<br> Работу на заказ?
						p Наши арт-консультанты ответят<br> на ваши вопросы и помогут найти идеальное произведение искусства.
					.brands-section__info__button.hidden-sm
						p
							a.btn.btn--icon.btn--border(href="#")
								span ПРОКОНСУЛЬТИРУЙТЕСЬ ПРЯМО СЕЙЧАС
								svg.icon.btn__icon
									use(xlink:href="images/sprite.svg#arrow-right-2")
						p Свяжитесь с нами по E-mail

				.brands-section__img.col-7.col-xs-12
					img(src="images/about-section-img.jpg" data-src="images/about-section-img.jpg" data-srcset="images/about-section-img.jpg 1x, images/about-section-img@2x.jpg 2x" alt="")
					.brands-section__info__button.hidden.visible-sm
						p
							a.btn.btn--icon.btn--border(href="#")
								span ПРОКОНСУЛЬТИРУЙТЕСЬ ПРЯМО СЕЙЧАС
								svg.icon.btn__icon
									use(xlink:href="images/sprite.svg#arrow-right-2")
						p Свяжитесь с нами по E-mail

	+subscribe-section()
		

	+partner-section()

	+seo-section()

block footer
	+footer({sfx: page.class})
