extends layouts/default

include layouts/footer
include layouts/header
include layouts/main-section
include layouts/subscribe-section
include layouts/partner-section
include layouts/seo-section
//- include blocks/burger
include blocks/container

block head
	- page.title = "Все страницы"
	- page.class = ['home-page']

//- block mobile-menu
//-	+mobile-menu(mainMenu.default)
	
block header
	+header({sfx: page.class})

block main
	+main-section({sfx: page.class})
		.container
			ol
				li
					a(href="home.html") Главная
				li
					a(href="shop-page.html") Страница магазина
				li
					a(href="product.html") Товар

	+subscribe-section()
		

	+partner-section()

	+seo-section()

block footer
	+footer({sfx: page.class})
