extends layouts/default

include layouts/footer
include layouts/header
include layouts/main-section
include layouts/subscribe-section
include layouts/partner-section
include layouts/seo-section
//- include blocks/burger
include blocks/container
include blocks/filter-block

block head
	- page.title = "Страница товара"
	- page.class = ['product-page']

//- block mobile-menu
//-	+mobile-menu(mainMenu.default)
	
block header
	+header({sfx: page.class})

block main
	+main-section({sfx: page.class})
		.main-section__head
			.container
				.main-section__bread
					.breadcrumb
						.breadcrumb__item
							a(href="#") Главная
						svg.breadcrumb__sep.icon
							use(xlink:href="/images/sprite.svg#icon-send")
						.breadcrumb__item
							a(href="#") Картины
						svg.breadcrumb__sep.icon
							use(xlink:href="/images/sprite.svg#icon-send")
						.breadcrumb__item
							a(href="#") Абстракция
						svg.breadcrumb__sep.icon
							use(xlink:href="/images/sprite.svg#icon-send")
						.breadcrumb__item
							a(href="#") Абстракционизм
						svg.breadcrumb__sep.icon
							use(xlink:href="/images/sprite.svg#icon-send")
						.breadcrumb__item
							a(href="#") The Synograph™ 3-D technology
						svg.breadcrumb__sep.icon
							use(xlink:href="/images/sprite.svg#icon-send")
						.breadcrumb__item
							a(href="#") Restoration Hardware
						svg.breadcrumb__sep.icon
							use(xlink:href="/images/sprite.svg#icon-send")
						.breadcrumb__item
							a(href="#") Sallie White
						svg.breadcrumb__sep.icon
							use(xlink:href="/images/sprite.svg#icon-send")
						.breadcrumb__item Время для себя

				

		.main-section__body.product-page
			.container.container--lg
				.product-page__row.row.row--stretch
					.product-page__left.col-6.col-xs-12

						.product-page__img.js-product-gallery-slick
							a.product-page__img__item.fancybox(href="/images/product-full-1@2x.jpg" data-fancybox="product")
								img(src="/images/product-full-1.jpg" srcset="/images/product-full-1.jpg 1x, /images/product-full-1@2x.jpg 2x" alt="")
							a.product-page__img__item.fancybox(href="/images/product-full-1@2x.jpg" data-fancybox="product")
								img(src="/images/product-full-1.jpg" srcset="/images/product-full-1.jpg 1x, /images/product-full-1@2x.jpg 2x" alt="")
							a.product-page__img__item.fancybox(href="/images/product-full-1@2x.jpg" data-fancybox="product")
								img(src="/images/product-full-1.jpg" srcset="/images/product-full-1.jpg 1x, /images/product-full-1@2x.jpg 2x" alt="")
							a.product-page__img__item.fancybox(href="/images/product-full-1@2x.jpg" data-fancybox="product")
								img(src="/images/product-full-1.jpg" srcset="/images/product-full-1.jpg 1x, /images/product-full-1@2x.jpg 2x" alt="")
							a.product-page__img__item.fancybox(href="/images/product-full-1@2x.jpg" data-fancybox="product")
								img(src="/images/product-full-1.jpg" srcset="/images/product-full-1.jpg 1x, /images/product-full-1@2x.jpg 2x" alt="")

						.product-page__thumbs
							.product-page__thumbs__item.js-product-gallery-nav.active
								a(href="#")
									img(src="/images/product-img-2.jpg" srcset="/images/product-img-2.jpg 1x, /images/product-img-2@2x.jpg 2x" alt="")
							.product-page__thumbs__item.js-product-gallery-nav
								a(href="#")
									img(src="/images/product-img-3.jpg" srcset="/images/product-img-3.jpg 1x, /images/product-img-3@2x.jpg 2x" alt="")
							.product-page__thumbs__item.js-product-gallery-nav
								a(href="#")
									img(src="/images/product-img-4.jpg" srcset="/images/product-img-4.jpg 1x, /images/product-img-4@2x.jpg 2x" alt="")
							.product-page__thumbs__item.js-product-gallery-nav
								a(href="#")
									img(src="/images/product-img-5.jpg" srcset="/images/product-img-5.jpg 1x, /images/product-img-5@2x.jpg 2x" alt="")
							.product-page__thumbs__item.js-product-gallery-nav
								a(href="#")
									img(src="/images/product-img-1.jpg" srcset="/images/product-img-1.jpg 1x, /images/product-img-1@2x.jpg 2x" alt="")

						.product-page__params
							.product-page__params__title Описание работы
							.product-page__params__item
								.product-page__params__label Тип
								.product-page__params__value Картина
							.product-page__params__item
								.product-page__params__label Художник
								.product-page__params__value
									a(href="#") Sallie White
							.product-page__params__item
								.product-page__params__label Бренд
								.product-page__params__value
									a(href="#") Restoration Hardware
							.product-page__params__item
								.product-page__params__label Страна
								.product-page__params__value США
							.product-page__params__item
								.product-page__params__label Размер
								.product-page__params__value 122 х 122 см.
							.product-page__params__item
								.product-page__params__label Год
								.product-page__params__value 2019
							.product-page__params__item
								.product-page__params__label Рама
								.product-page__params__value Без рамы <a href="#">Заказать багет</a>
							.product-page__params__item
								.product-page__params__label Материал
								.product-page__params__value Холст
							.product-page__params__item
								.product-page__params__label Тираж
								.product-page__params__value Открытый
							.product-page__params__item
								.product-page__params__label Стиль
								.product-page__params__value Абстракционизм
							.product-page__params__item
								.product-page__params__label Тема
								.product-page__params__value Абстракция
							.product-page__params__item.product-page__params__item--block
								.product-page__params__label Техника
								.product-page__params__value 
									p Synograph ™, революционная технология трехмерного изображения, созданная провидцами из широкой публики, переопределяет границы печати, воссоздавая каждую деталь оригинального произведения искусства с абсолютной точностью..
							.product-page__params__item.product-page__params__item--block
								.product-page__params__label Описание
								.product-page__params__value Серия Kali Sanders ‘Villa была вдохновлена созданными поверхностями, которые несут следы времени, износа и ремонта. Опираясь на древние и современные источники - от романтики классических римских зданий до городских стен Лос-Анджелеса, - художник передает смысл истории в тщательно проработанных текстурных полотнах.
						
						.product-page__info-text.js-tabs-wrapper
							.product-page__info-text__nav.tab-nav.tab-nav--link
								.tab-nav__item.active.js-tab-nav
									a(href="#info-shipping") Доставка
								.tab-nav__item.js-tab-nav
									a(href="#info-payment") Оплата

							.product-page__info-text__tab.tab-box.js-tab-box.active.item-page.item-page--md#info-shipping
								.product-page__info-text__body.js-wrap-text
									p УСЛОВИЯ ПОСТАВКИ
									p Мы поставляем товар напрямую со склада фабрик-производителей.
									p Сроки поставки из США 2-3 месяца. Срок поставки зависит от наличия товара на складе фабрики. Уточняйте срок поставки заранее у менеджеров компании Релофт. (запросить срок)
									p Срок поставки из Европы 1-3 месяца. Срок поставки зависит от наличия товара на складе фабрики. Уточняйте срок поставки заранее у менеджеров компании Релофт. (запросить срок)
									p &nbsp;
									p УСЛОВИЯ ДОСТАВКИ и СБОРКИ
									p Стоимость доставки по Москве и до склада ТК бесплатна для заказов от 500 000 руб.
									p Доставка по Москве и Области рассчитывается отдельно по факту прихода товара на склад в Москве. От 1500 руб.
									p Доставка по России рассчитывается отдельно по факту прихода товара на склад в Москве. Мы сотрудничаем с транспортными компаниями: ПЭК, Деловые линии, СПСР по вашему выбору.
									p Доставка в Казахстан рассчитывается отдельно по факту прихода товара на склад в Москве. Мы сотрудничаем с транспортными компаниями: ПЭК, Деловые линии, СПСР по вашему выбору.
									p Самовывоз из офиса. м. Бауманская, Денисовский переулок д.26.
									p Занос мебели бесплатно, при наличии грузового лифта. Подъем мебели 100 руб. 1 этаж/1чел. Распаковка не входит в стоимость. Утилизация упаковки рассчитывается отдельно. Обо всех пожеланиях необходимо сообщить менеджеру по доставке заранее. Телефон службы доставки: +7 (495) 660-36-58.
									p Сборка возможна для Москвы и МО. Рассчитывается отдельно.
								.product-page__info-text__more
									a.more-toggle.js-more-text(href="#")
										span.more-toggle__on Читать дальше
										span.more-toggle__off Свернуть
										svg.icon.more-toggle__arrow
											use(xlink:href="/images/sprite.svg#arrow-down")

							.product-page__info-text__tab.tab-box.js-tab-box.item-page.item-page--md#info-payment
								.product-page__info-text__body.js-wrap-text
									p УСЛОВИЯ ОПЛАТЫ
									p Мы поставляем товар напрямую со склада фабрик-производителей.
									p Сроки поставки из США 2-3 месяца. Срок поставки зависит от наличия товара на складе фабрики. Уточняйте срок поставки заранее у менеджеров компании Релофт. (запросить срок)
									p Срок поставки из Европы 1-3 месяца. Срок поставки зависит от наличия товара на складе фабрики. Уточняйте срок поставки заранее у менеджеров компании Релофт. (запросить срок)
									p &nbsp;
									p УСЛОВИЯ ВОЗВРАТА
									p Стоимость доставки по Москве и до склада ТК бесплатна для заказов от 500 000 руб.
									p Доставка по Москве и Области рассчитывается отдельно по факту прихода товара на склад в Москве. От 1500 руб.
									p Доставка по России рассчитывается отдельно по факту прихода товара на склад в Москве. Мы сотрудничаем с транспортными компаниями: ПЭК, Деловые линии, СПСР по вашему выбору.
									p Доставка в Казахстан рассчитывается отдельно по факту прихода товара на склад в Москве. Мы сотрудничаем с транспортными компаниями: ПЭК, Деловые линии, СПСР по вашему выбору.
									p Самовывоз из офиса. м. Бауманская, Денисовский переулок д.26.
									p Занос мебели бесплатно, при наличии грузового лифта. Подъем мебели 100 руб. 1 этаж/1чел. Распаковка не входит в стоимость. Утилизация упаковки рассчитывается отдельно. Обо всех пожеланиях необходимо сообщить менеджеру по доставке заранее. Телефон службы доставки: +7 (495) 660-36-58.
									p Сборка возможна для Москвы и МО. Рассчитывается отдельно.
								.product-page__info-text__more
									a.more-toggle.js-more-text(href="#")
										span.more-toggle__on Читать дальше
										span.more-toggle__off Свернуть
										svg.icon.more-toggle__arrow
											use(xlink:href="/images/sprite.svg#arrow-down")

						.product-page__soc.soc-list.soc-list--xs-center
							.soc-list__label Рассказать в соц. сетях:
							.soc-list__item
								a(href="#")
									svg.icon
										use(xlink:href="/images/sprite.svg#soc-facebook")
							.soc-list__item
								a(href="#")
									svg.icon
										use(xlink:href="/images/sprite.svg#soc-pinterest")
							.soc-list__item
								a(href="#")
									svg.icon
										use(xlink:href="/images/sprite.svg#soc-vk")


					.product-page__right.col-6.col-xs-12
						form.js-product-form(action="/ajax/addFavorite.json")
							input(type="hidden" name="productId" value="101")

							.product-page__right-info.js-sticky-start-pos
								.product-page__head.row
									.col-8.col-xs-12
										h1.product-page__title Sallie White
										.product-page__title-after
											p Сохраняя время для себя, 2019 г.
											p Картина
									.col-4.col-xs-12
										.product-page__sku Артикул:<br> <span>41450174 BLK</span>
								.product-page__min-params
									p Страна: США
									p Размер: (122 х 122 см.) <a href="#">Можно написать нужный размер</a>
									p Выберите размер 
									select.nice-select--xs.nice-select--auto
										option(value="122 х 122 см.") 122 х 122 см.
										option(value="142 х 142 см.") 142 х 142 см.

								.product-page__desc.js-wrap-text
									p Мы поставляем товар напрямую со склада фабрик-производителей.
									p Сроки поставки из США 2-3 месяца. Срок поставки зависит от наличия товара на складе фабрики. Уточняйте срок поставки заранее у менеджеров компании Релофт. (запросить срок)
									p Срок поставки из Европы 1-3 месяца. Срок поставки зависит от наличия товара на складе фабрики. Уточняйте срок поставки заранее у менеджеров компании Релофт. (запросить срок)
									p Стоимость доставки по Москве и до склада ТК бесплатна для заказов от 500 000 руб.
									p Доставка по Москве и Области рассчитывается отдельно по факту прихода товара на склад в Москве. От 1500 руб.
									p Доставка по России рассчитывается отдельно по факту прихода товара на склад в Москве. Мы сотрудничаем с транспортными компаниями: ПЭК, Деловые линии, СПСР по вашему выбору.
									
								.product-page__desc__more
									a.more-toggle.js-more-text(href="#")
										span.more-toggle__on Читать дальше
										span.more-toggle__off Свернуть
										svg.icon.more-toggle__arrow
											use(xlink:href="/images/sprite.svg#arrow-down")

								.product-page__colors
									.product-page__colors__label Выберите цвет рамы
									.product-page__colors__list
										.product-page__colors__item.checkbox.checkbox--color-rama
											input(type="radio" name="color-ram" value="color-1" id="color-1" checked)
											label(for="color-1")
												img(src="images/color-ram-1.jpg" srcset="images/color-ram-1.jpg 1x, images/color-ram-1@2x.jpg 2x" alt="")
												p Чёрный
										.product-page__colors__item.checkbox.checkbox--color-rama
											input(type="radio" name="color-ram" value="color-2" id="color-2")
											label(for="color-2")
												img(src="images/color-ram-2.jpg" srcset="images/color-ram-2.jpg 1x, images/color-ram-2@2x.jpg 2x" alt="")
												p Серебро
										.product-page__colors__item.checkbox.checkbox--color-rama
											input(type="radio" name="color-ram" value="color-3" id="color-3")
											label(for="color-3")
												img(src="images/color-ram-3.jpg" srcset="images/color-ram-3.jpg 1x, images/color-ram-3@2x.jpg 2x" alt="")
												p Золото
										.product-page__colors__item.checkbox.checkbox--color-rama
											input(type="radio" name="color-ram" value="color-4" id="color-4")
											label(for="color-4")
												img(src="images/color-ram-4.jpg" srcset="images/color-ram-4.jpg 1x, images/color-ram-4@2x.jpg 2x" alt="")
												p Белый

								.product-page__prices
									.product-page__prices__label Кол-во:
									
									.product-page__prices__count.count-block
										a.count-block__minus.js-count-minus(href="#") -
										input.count-block__input(name="quantity" value="1")
										a.count-block__plus.js-count-plus(href="#") +
									.product-page__price Цена: 234 000 руб.

								.product-page__date-delivery
									.product-page__date-delivery__label Ближайшая поставка:
									.product-page__date-delivery__from
										img(src="/images/icon-ship.png" alt="")
										p 
											strong 08.05.2020
									.product-page__date-delivery__to
										img(src="/images/icon-air.png" alt="")
										p <strong>08.04.2020</strong> / <a href="#">С доплатой</a>

								.product-page__buttons
									button.btn.btn--buy.btn--lg.js-add-cart(type="submit") В корзину
									a.btn.btn--border.btn--lg(href="#") Быстрый заказ

								.product-page__favorite
									a.product-page__favorite__icon.js-add-favorite(href="#" data-id="1")
										svg.icon
											use(xlink:href="images/sprite.svg#icon-favorite")
									.product-page__favorite__label Добавить в избранное

								.product-page__see-now
									svg.icon
										use(xlink:href="images/sprite.svg#icon-eye")
									p Эту работу сейчас смотрят ещё <strong>6</strong> человек
							
							.product-page__sticky.js-product-sticky
								.product-page__sticky__wrap
									.product-page__sticky__img
										img(src="/images/product-full-1.jpg" srcset="/images/product-full-1.jpg 1x, /images/product-full-1@2x.jpg 2x" alt="")
										.product-page__sticky__title Сохраняя время для себя, 2019 г.
									.product-page__sticky__sku Артикул: <strong>41450174 BLK</strong>
									.product-page__sticky__prices.product-page__prices.product-page__prices--small
										.product-page__prices__label Кол-во:
										.product-page__prices__row
											.product-page__prices__count.count-block
												a.count-block__minus.js-count-minus(href="#") -
												input.count-block__input(name="quantity-2" value="1")
												a.count-block__plus.js-count-plus(href="#") +
											.product-page__price Цена: 234 000 руб.
									.product-page__sticky__buttons
										button.btn.is-btn-block.js-add-cart(type="submit") В корзину
									.product-page__sticky__favorite.product-page__favorite.product-page__favorite--small
										a.product-page__favorite__icon.js-add-favorite(href="#" data-id="1")
											svg.icon
												use(xlink:href="images/sprite.svg#icon-favorite")
										.product-page__favorite__label Добавить в избранное

			.product-page__other
				.container.container--lg
					.product-page__other__title.title-h1 Остальные работы: <a href="#">Sallie White</a> 
					.product-page__other__list.js-other-slick
						.product-page__other__item
							.product-block.product-block--no-border.product-block--view-1
								.product-block__img
									.product-block__label Новинка
									a.product-block__favorite.js-add-favorite(href="#" data-id="1")
										svg.icon
											use(xlink:href="images/sprite.svg#icon-favorite")

									a(href="#")
										img.lazy(src="images/product-thumb.jpg" data-src="images/product-img-1.jpg" data-srcset="images/product-img-1.jpg 1x, images/product-img-1@2x.jpg 2x" alt="")
								.product-block__body
									.product-block__title Время для себя
									.product-block__param
										.product-block__param__label Бренд:
										.product-block__param__value 
											a(href="#") Restoration Hardware
									.product-block__param
										.product-block__param__label Художник: 
										.product-block__param__value 
											a(href="#") Sallie White
									.product-block__param
										.product-block__param__label Размер:
										.product-block__param__value (122 х 122 см.)
									.product-block__price <span class="product-block__price__label">Цена:</span> 234 000 руб.

						.product-page__other__item
							.product-block.product-block--no-border.product-block--view-1
								.product-block__img
									.product-block__label.product-block__label--sale SALE 30%
									a.product-block__favorite.js-add-favorite(href="#" data-id="1")
										svg.icon
											use(xlink:href="images/sprite.svg#icon-favorite")
									a(href="#")
										img.lazy(src="images/product-thumb.jpg" data-src="images/product-img-2.jpg" data-srcset="images/product-img-2.jpg 1x, images/product-img-2@2x.jpg 2x" alt="")
								.product-block__body
									.product-block__title Этого не было
									.product-block__param
										.product-block__param__label Бренд:
										.product-block__param__value 
											a(href="#") Restoration Hardware
									.product-block__param
										.product-block__param__label Художник: 
										.product-block__param__value 
											a(href="#") Sallie White
									.product-block__param
										.product-block__param__label Размер:
										.product-block__param__value (122 х 122 см.)
									.product-block__price <span class="product-block__price__label">Цена:</span> 334 000 руб.

						.product-page__other__item
							.product-block.product-block--no-border.product-block--view-1
								.product-block__img
									a.product-block__favorite.js-add-favorite(href="#" data-id="1")
										svg.icon
											use(xlink:href="images/sprite.svg#icon-favorite")
									a(href="#")
										img.lazy(src="images/product-thumb.jpg" data-src="images/product-img-3.jpg" data-srcset="images/product-img-3.jpg 1x, images/product-img-3@2x.jpg 2x" alt="")
								.product-block__body
									.product-block__title Финал
									.product-block__param
										.product-block__param__label Художник: 
										.product-block__param__value 
											a(href="#") Miles Regis
									.product-block__param
										.product-block__param__label Размер:
										.product-block__param__value (109.2 х 78.7см.)
									.product-block__price <span class="product-block__price__label">Цена:</span> <span class="product-block__old-price">334 000 руб.</span> 334 000 руб.

						.product-page__other__item
							.product-block.product-block--no-border.product-block--view-1
								.product-block__img
									a.product-block__favorite.js-add-favorite(href="#" data-id="1")
										svg.icon
											use(xlink:href="images/sprite.svg#icon-favorite")
									a(href="#")
										img.lazy(src="images/product-thumb.jpg" data-src="images/product-img-4.jpg" data-srcset="images/product-img-4.jpg 1x, images/product-img-4@2x.jpg 2x" alt="")
								.product-block__body
									.product-block__title Время для себя
									.product-block__param
										.product-block__param__label Бренд:
										.product-block__param__value 
											a(href="#") Restoration Hardware
									.product-block__param
										.product-block__param__label Художник: 
										.product-block__param__value 
											a(href="#") Sallie White
									.product-block__param
										.product-block__param__label Размер:
										.product-block__param__value (122 х 122 см.)
									.product-block__price <span class="product-block__price__label">Цена:</span> 134 000 руб.

						.product-page__other__item
							.product-block.product-block--no-border.product-block--view-1
								.product-block__img
									a.product-block__favorite.js-add-favorite(href="#" data-id="1")
										svg.icon
											use(xlink:href="images/sprite.svg#icon-favorite")
									a(href="#")
										img.lazy(src="images/product-thumb.jpg" data-src="images/product-img-3.jpg" data-srcset="images/product-img-3.jpg 1x, images/product-img-3@2x.jpg 2x" alt="")
								.product-block__body
									.product-block__title Финал
									.product-block__param
										.product-block__param__label Художник: 
										.product-block__param__value 
											a(href="#") Miles Regis
									.product-block__param
										.product-block__param__label Размер:
										.product-block__param__value (109.2 х 78.7см.)
									.product-block__price <span class="product-block__price__label">Цена:</span> <span class="product-block__old-price">334 000 руб.</span> 334 000 руб.

						.product-page__other__item
							.product-block.product-block--no-border.product-block--view-1
								.product-block__img
									a.product-block__favorite.js-add-favorite(href="#" data-id="1")
										svg.icon
											use(xlink:href="images/sprite.svg#icon-favorite")
									a(href="#")
										img.lazy(src="images/product-thumb.jpg" data-src="images/product-img-4.jpg" data-srcset="images/product-img-4.jpg 1x, images/product-img-4@2x.jpg 2x" alt="")
								.product-block__body
									.product-block__title Время для себя
									.product-block__param
										.product-block__param__label Бренд:
										.product-block__param__value 
											a(href="#") Restoration Hardware
									.product-block__param
										.product-block__param__label Художник: 
										.product-block__param__value 
											a(href="#") Sallie White
									.product-block__param
										.product-block__param__label Размер:
										.product-block__param__value (122 х 122 см.)
									.product-block__price <span class="product-block__price__label">Цена:</span> 134 000 руб.

			.product-page__other.product-page__other--see-you
				.product-page__other__title.title-h1 Вы уже смотрели 
				.container.container--lg
					.product-page__other__list.js-other-slick
						.product-page__other__item
							.product-block.product-block--no-border.product-block--view-1
								.product-block__img
									.product-block__label Новинка
									a.product-block__favorite.js-add-favorite(href="#" data-id="1")
										svg.icon
											use(xlink:href="images/sprite.svg#icon-favorite")

									a(href="#")
										img.lazy(src="images/product-thumb.jpg" data-src="images/product-img-1.jpg" data-srcset="images/product-img-1.jpg 1x, images/product-img-1@2x.jpg 2x" alt="")
								.product-block__body
									.product-block__title Время для себя
									.product-block__param
										.product-block__param__label Бренд:
										.product-block__param__value 
											a(href="#") Restoration Hardware
									.product-block__param
										.product-block__param__label Художник: 
										.product-block__param__value 
											a(href="#") Sallie White
									.product-block__param
										.product-block__param__label Размер:
										.product-block__param__value (122 х 122 см.)
									.product-block__price <span class="product-block__price__label">Цена:</span> 234 000 руб.

						.product-page__other__item
							.product-block.product-block--no-border.product-block--view-1
								.product-block__img
									.product-block__label.product-block__label--sale SALE 30%
									a.product-block__favorite.js-add-favorite(href="#" data-id="1")
										svg.icon
											use(xlink:href="images/sprite.svg#icon-favorite")
									a(href="#")
										img.lazy(src="images/product-thumb.jpg" data-src="images/product-img-2.jpg" data-srcset="images/product-img-2.jpg 1x, images/product-img-2@2x.jpg 2x" alt="")
								.product-block__body
									.product-block__title Этого не было
									.product-block__param
										.product-block__param__label Бренд:
										.product-block__param__value 
											a(href="#") Restoration Hardware
									.product-block__param
										.product-block__param__label Художник: 
										.product-block__param__value 
											a(href="#") Sallie White
									.product-block__param
										.product-block__param__label Размер:
										.product-block__param__value (122 х 122 см.)
									.product-block__price <span class="product-block__price__label">Цена:</span> 334 000 руб.

						.product-page__other__item
							.product-block.product-block--no-border.product-block--view-1
								.product-block__img
									a.product-block__favorite.js-add-favorite(href="#" data-id="1")
										svg.icon
											use(xlink:href="images/sprite.svg#icon-favorite")
									a(href="#")
										img.lazy(src="images/product-thumb.jpg" data-src="images/product-img-3.jpg" data-srcset="images/product-img-3.jpg 1x, images/product-img-3@2x.jpg 2x" alt="")
								.product-block__body
									.product-block__title Финал
									.product-block__param
										.product-block__param__label Художник: 
										.product-block__param__value 
											a(href="#") Miles Regis
									.product-block__param
										.product-block__param__label Размер:
										.product-block__param__value (109.2 х 78.7см.)
									.product-block__price <span class="product-block__price__label">Цена:</span> <span class="product-block__old-price">334 000 руб.</span> 334 000 руб.

						.product-page__other__item
							.product-block.product-block--no-border.product-block--view-1
								.product-block__img
									a.product-block__favorite.js-add-favorite(href="#" data-id="1")
										svg.icon
											use(xlink:href="images/sprite.svg#icon-favorite")
									a(href="#")
										img.lazy(src="images/product-thumb.jpg" data-src="images/product-img-4.jpg" data-srcset="images/product-img-4.jpg 1x, images/product-img-4@2x.jpg 2x" alt="")
								.product-block__body
									.product-block__title Время для себя
									.product-block__param
										.product-block__param__label Бренд:
										.product-block__param__value 
											a(href="#") Restoration Hardware
									.product-block__param
										.product-block__param__label Художник: 
										.product-block__param__value 
											a(href="#") Sallie White
									.product-block__param
										.product-block__param__label Размер:
										.product-block__param__value (122 х 122 см.)
									.product-block__price <span class="product-block__price__label">Цена:</span> 134 000 руб.

						.product-page__other__item
							.product-block.product-block--no-border.product-block--view-1
								.product-block__img
									a.product-block__favorite.js-add-favorite(href="#" data-id="1")
										svg.icon
											use(xlink:href="images/sprite.svg#icon-favorite")
									a(href="#")
										img.lazy(src="images/product-thumb.jpg" data-src="images/product-img-3.jpg" data-srcset="images/product-img-3.jpg 1x, images/product-img-3@2x.jpg 2x" alt="")
								.product-block__body
									.product-block__title Финал
									.product-block__param
										.product-block__param__label Художник: 
										.product-block__param__value 
											a(href="#") Miles Regis
									.product-block__param
										.product-block__param__label Размер:
										.product-block__param__value (109.2 х 78.7см.)
									.product-block__price <span class="product-block__price__label">Цена:</span> <span class="product-block__old-price">334 000 руб.</span> 334 000 руб.

						.product-page__other__item
							.product-block.product-block--no-border.product-block--view-1
								.product-block__img
									a.product-block__favorite.js-add-favorite(href="#" data-id="1")
										svg.icon
											use(xlink:href="images/sprite.svg#icon-favorite")
									a(href="#")
										img.lazy(src="images/product-thumb.jpg" data-src="images/product-img-4.jpg" data-srcset="images/product-img-4.jpg 1x, images/product-img-4@2x.jpg 2x" alt="")
								.product-block__body
									.product-block__title Время для себя
									.product-block__param
										.product-block__param__label Бренд:
										.product-block__param__value 
											a(href="#") Restoration Hardware
									.product-block__param
										.product-block__param__label Художник: 
										.product-block__param__value 
											a(href="#") Sallie White
									.product-block__param
										.product-block__param__label Размер:
										.product-block__param__value (122 х 122 см.)
									.product-block__price <span class="product-block__price__label">Цена:</span> 134 000 руб.


	+subscribe-section()
		

	+partner-section()

	+seo-section()

block footer
	+footer({sfx: page.class})
