extends layouts/default

include layouts/footer
include layouts/header
include layouts/main-section
include layouts/subscribe-section
include layouts/partner-section
include layouts/seo-section
//- include blocks/burger
include blocks/container
include blocks/filter-block

block head
	- page.title = "Список товаров"
	- page.class = ['']

//- block mobile-menu
//-	+mobile-menu(mainMenu.default)
	
block header
	+header({sfx: page.class})

block main
	+main-section({sfx: page.class})
		.main-section__head
			img.main-section__bg(src="/images/head-bg.jpg" srcset="/images/head-bg.jpg 1x, /images/head-bg@2x.jpg 2x" alt="")
			.container
				.main-section__bread
					.breadcrumb
						.breadcrumb__item
							a(href="#") Главная
						svg.breadcrumb__sep.icon
							use(xlink:href="/images/sprite.svg#icon-send")
						.breadcrumb__item
							a(href="#") Картины

				.main-section__title.title-h1 Картины

		.main-section__body
			+filter-block({sfx: ' main-section__filter'})

			.container
				.main-section__list.row.row--stretch.js-products-list-ajax
					.main-section__list__item
						.product-block
							.product-block__img
								.product-block__label Новинка
								a.product-block__favorite.js-add-favorite(href="#" data-id="1")
									svg.icon
										use(xlink:href="images/sprite.svg#icon-favorite")

								a(href="#")
									img.lazy(src="images/product-thumb.jpg" data-src="images/product-img-1.jpg" data-srcset="images/product-img-1.jpg 1x, images/product-img-1@2x.jpg 2x" alt="")
							.product-block__body
								.product-block__title Время для себя
								.product-block__param
									.product-block__param__label Бренд:
									.product-block__param__value 
										a(href="#") Restoration Hardware
								.product-block__param
									.product-block__param__label Художник: 
									.product-block__param__value 
										a(href="#") Sallie White
								.product-block__param
									.product-block__param__label Размер:
									.product-block__param__value (122 х 122 см.)
								.product-block__price <span class="product-block__price__label">Цена:</span> 234 000 руб.

					.main-section__list__item
						.product-block
							.product-block__img
								.product-block__label.product-block__label--sale SALE 30%
								a.product-block__favorite.js-add-favorite(href="#" data-id="1")
									svg.icon
										use(xlink:href="images/sprite.svg#icon-favorite")
								a(href="#")
									img.lazy(src="images/product-thumb.jpg" data-src="images/product-img-2.jpg" data-srcset="images/product-img-2.jpg 1x, images/product-img-2@2x.jpg 2x" alt="")
							.product-block__body
								.product-block__title Этого не было
								.product-block__param
									.product-block__param__label Бренд:
									.product-block__param__value 
										a(href="#") Restoration Hardware
								.product-block__param
									.product-block__param__label Художник: 
									.product-block__param__value 
										a(href="#") Sallie White
								.product-block__param
									.product-block__param__label Размер:
									.product-block__param__value (122 х 122 см.)
								.product-block__price <span class="product-block__price__label">Цена:</span> 334 000 руб.

					.main-section__list__item
						.product-block
							.product-block__img
								a.product-block__favorite.js-add-favorite(href="#" data-id="1")
									svg.icon
										use(xlink:href="images/sprite.svg#icon-favorite")
								a(href="#")
									img.lazy(src="images/product-thumb.jpg" data-src="images/product-img-3.jpg" data-srcset="images/product-img-3.jpg 1x, images/product-img-3@2x.jpg 2x" alt="")
							.product-block__body
								.product-block__title Финал
								.product-block__param
									.product-block__param__label Художник: 
									.product-block__param__value 
										a(href="#") Miles Regis
								.product-block__param
									.product-block__param__label Размер:
									.product-block__param__value (109.2 х 78.7см.)
								.product-block__price <span class="product-block__price__label">Цена:</span> <span class="product-block__old-price">334 000 руб.</span> 334 000 руб.				

					.main-section__list__item
						.product-block
							.product-block__img
								a.product-block__favorite.js-add-favorite(href="#" data-id="1")
									svg.icon
										use(xlink:href="images/sprite.svg#icon-favorite")
								a(href="#")
									img.lazy(src="images/product-thumb.jpg" data-src="images/product-img-4.jpg" data-srcset="images/product-img-4.jpg 1x, images/product-img-4@2x.jpg 2x" alt="")
							.product-block__body
								.product-block__title Время для себя
								.product-block__param
									.product-block__param__label Бренд:
									.product-block__param__value 
										a(href="#") Restoration Hardware
								.product-block__param
									.product-block__param__label Художник: 
									.product-block__param__value 
										a(href="#") Sallie White
								.product-block__param
									.product-block__param__label Размер:
									.product-block__param__value (122 х 122 см.)
								.product-block__price <span class="product-block__price__label">Цена:</span> 134 000 руб.

					.main-section__list__item
						.product-block
							.product-block__img
								a.product-block__favorite.js-add-favorite(href="#" data-id="1")
									svg.icon
										use(xlink:href="images/sprite.svg#icon-favorite")
								a(href="#")
									img.lazy(src="images/product-thumb.jpg" data-src="images/product-img-5.jpg" data-srcset="images/product-img-5.jpg 1x, images/product-img-5@2x.jpg 2x" alt="")
							.product-block__body
								.product-block__title Время для себя
								.product-block__param
									.product-block__param__label Бренд:
									.product-block__param__value 
										a(href="#") Restoration Hardware
								.product-block__param
									.product-block__param__label Художник: 
									.product-block__param__value 
										a(href="#") Sallie White
								.product-block__param
									.product-block__param__label Размер:
									.product-block__param__value (122 х 122 см.)
								.product-block__price <span class="product-block__price__label">Цена:</span> 134 000 руб.

					.main-section__list__item
						.product-block
							.product-block__img
								a.product-block__favorite.js-add-favorite(href="#" data-id="1")
									svg.icon
										use(xlink:href="images/sprite.svg#icon-favorite")
								a(href="#")
									img.lazy(src="images/product-thumb.jpg" data-src="images/product-img-6.jpg" data-srcset="images/product-img-6.jpg 1x, images/product-img-6@2x.jpg 2x" alt="")
							.product-block__body
								.product-block__title Время для себя
								.product-block__param
									.product-block__param__label Бренд:
									.product-block__param__value 
										a(href="#") Restoration Hardware
								.product-block__param
									.product-block__param__label Художник: 
									.product-block__param__value 
										a(href="#") Sallie White
								.product-block__param
									.product-block__param__label Размер:
									.product-block__param__value (122 х 122 см.)
								.product-block__price <span class="product-block__price__label">Цена:</span> 134 000 руб.

					.main-section__list__item
						.product-block
							.product-block__img
								a.product-block__favorite.js-add-favorite(href="#" data-id="1")
									svg.icon
										use(xlink:href="images/sprite.svg#icon-favorite")
								.product-block__label Новинка
								a(href="#")
									img.lazy(src="images/product-thumb.jpg" data-src="images/product-img-1.jpg" data-srcset="images/product-img-1.jpg 1x, images/product-img-1@2x.jpg 2x" alt="")
							.product-block__body
								.product-block__title Время для себя
								.product-block__param
									.product-block__param__label Бренд:
									.product-block__param__value 
										a(href="#") Restoration Hardware
								.product-block__param
									.product-block__param__label Художник: 
									.product-block__param__value 
										a(href="#") Sallie White
								.product-block__param
									.product-block__param__label Размер:
									.product-block__param__value (122 х 122 см.)
								.product-block__price <span class="product-block__price__label">Цена:</span> 234 000 руб.

					.main-section__list__item
						.product-block
							.product-block__img
								a.product-block__favorite.js-add-favorite(href="#" data-id="1")
									svg.icon
										use(xlink:href="images/sprite.svg#icon-favorite")
								.product-block__label.product-block__label--sale SALE 30%
								a(href="#")
									img.lazy(src="images/product-thumb.jpg" data-src="images/product-img-2.jpg" data-srcset="images/product-img-2.jpg 1x, images/product-img-2@2x.jpg 2x" alt="")
							.product-block__body
								.product-block__title Этого не было
								.product-block__param
									.product-block__param__label Бренд:
									.product-block__param__value 
										a(href="#") Restoration Hardware
								.product-block__param
									.product-block__param__label Художник: 
									.product-block__param__value 
										a(href="#") Sallie White
								.product-block__param
									.product-block__param__label Размер:
									.product-block__param__value (122 х 122 см.)
								.product-block__price <span class="product-block__price__label">Цена:</span> 334 000 руб.

					.main-section__list__item
						.product-block
							.product-block__img
								a.product-block__favorite.js-add-favorite(href="#" data-id="1")
									svg.icon
										use(xlink:href="images/sprite.svg#icon-favorite")
								a(href="#")
									img.lazy(src="images/product-thumb.jpg" data-src="images/product-img-3.jpg" data-srcset="images/product-img-3.jpg 1x, images/product-img-3@2x.jpg 2x" alt="")
							.product-block__body
								.product-block__title Финал
								.product-block__param
									.product-block__param__label Художник: 
									.product-block__param__value 
										a(href="#") Miles Regis
								.product-block__param
									.product-block__param__label Размер:
									.product-block__param__value (109.2 х 78.7см.)
								.product-block__price <span class="product-block__price__label">Цена:</span> <span class="product-block__old-price">334 000 руб.</span> 334 000 руб.				

					.main-section__list__item
						.product-block
							.product-block__img
								a.product-block__favorite.js-add-favorite(href="#" data-id="1")
									svg.icon
										use(xlink:href="images/sprite.svg#icon-favorite")
								a(href="#")
									img.lazy(src="images/product-thumb.jpg" data-src="images/product-img-4.jpg" data-srcset="images/product-img-4.jpg 1x, images/product-img-4@2x.jpg 2x" alt="")
							.product-block__body
								.product-block__title Время для себя
								.product-block__param
									.product-block__param__label Бренд:
									.product-block__param__value 
										a(href="#") Restoration Hardware
								.product-block__param
									.product-block__param__label Художник: 
									.product-block__param__value 
										a(href="#") Sallie White
								.product-block__param
									.product-block__param__label Размер:
									.product-block__param__value (122 х 122 см.)
								.product-block__price <span class="product-block__price__label">Цена:</span> 134 000 руб.

					.main-section__list__item
						.product-block
							.product-block__img
								a.product-block__favorite.js-add-favorite(href="#" data-id="1")
									svg.icon
										use(xlink:href="images/sprite.svg#icon-favorite")
								a(href="#")
									img.lazy(src="images/product-thumb.jpg" data-src="images/product-img-5.jpg" data-srcset="images/product-img-5.jpg 1x, images/product-img-5@2x.jpg 2x" alt="")
							.product-block__body
								.product-block__title Время для себя
								.product-block__param
									.product-block__param__label Бренд:
									.product-block__param__value 
										a(href="#") Restoration Hardware
								.product-block__param
									.product-block__param__label Художник: 
									.product-block__param__value 
										a(href="#") Sallie White
								.product-block__param
									.product-block__param__label Размер:
									.product-block__param__value (122 х 122 см.)
								.product-block__price <span class="product-block__price__label">Цена:</span> 134 000 руб.

					.main-section__list__item
						.product-block
							.product-block__img
								a.product-block__favorite.js-add-favorite(href="#" data-id="1")
									svg.icon
										use(xlink:href="images/sprite.svg#icon-favorite")
								a(href="#")
									img.lazy(src="images/product-thumb.jpg" data-src="images/product-img-6.jpg" data-srcset="images/product-img-6.jpg 1x, images/product-img-6@2x.jpg 2x" alt="")
							.product-block__body
								.product-block__title Время для себя
								.product-block__param
									.product-block__param__label Бренд:
									.product-block__param__value 
										a(href="#") Restoration Hardware
								.product-block__param
									.product-block__param__label Художник: 
									.product-block__param__value 
										a(href="#") Sallie White
								.product-block__param
									.product-block__param__label Размер:
									.product-block__param__value (122 х 122 см.)
								.product-block__price <span class="product-block__price__label">Цена:</span> 134 000 руб.
								

	+subscribe-section()
		

	+partner-section()

	+seo-section()

block footer
	+footer({sfx: page.class})
