
mixin about-section(data)
	//- if(data != undefined && data.sfx != undefined)
	//- 	- var attributes = {class: ['main-section--'+data.sfx]}

	section.about-section&attributes(attributes)
		+container().main-section__body
			
			.about-section__title О магазине
			.about-section__text.item-page.js-xs-overflow-text
				p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam id nulla non neque aliquet mattis. Aenean vestibulum, tortor vel consectetur lacinia, magna odio vehicula sapien, quis finibus odio dui vitae dolor. Nulla sed tempus turpis, ut efficitur risus. Vestibulum volutpat sollicitudin arcu, ut suscipit velit pellentesque ut. Curabitur finibus nisi mi, id dictum leo pulvinar sit amet. Fusce pellentesque posuere tempor. Ut eget mattis quam. Maecenas vitae fermentum erat. Nam laoreet nisi velit, eget faucibus turpis semper id.
				p Nulla pretium, lorem vitae sagittis semper, lectus eros lacinia augue, quis imperdiet magna mauris id urna. Sed tempor, enim sit amet commodo pellentesque, libero augue vestibulum eros, tempus efficitur sapien lectus a dui. Duis id augue viverra, pharetra nisi ut, pretium est. Etiam vel lacus sit amet ligula dapibus laoreet sit amet sed purus. Sed commodo erat interdum mauris auctor luctus. Vivamus tempus vulputate risus, vel consectetur ex rutrum nec. Quisque ut porttitor quam. Donec urna sem, consectetur vitae nisl non, scelerisque sollicitudin arcu.
			.about-section__more
				a.js-xs-show-overflow-text(href="#") Читать полностью
			.about-section__img
				img(src="images/about-section-img.jpg" alt="")