include ../blocks/container
include ../blocks/popup

mixin footer(data)
	if(data != undefined && data.sfx != undefined)
		- var attributes = {class: ['footer--'+data.sfx]}
		- var attributes2 = {class: ['footer-menu--'+data.sfx]}

	footer.footer&attributes(attributes)
		.footer__body
			+container().footer__container
				.footer__row
					.footer__col
						.footer__title Услуги
						.footer__menu.footer-menu&attributes(attributes2)
							.footer-menu__item
								a(href="") Подбор искусства и декора
							.footer-menu__item
								a(href="") Живопись и графика на заказ
							.footer-menu__item
								a(href="") Багетная мастерская
							.footer-menu__item
								a(href="") Диджитал дизайн
							.footer-menu__item
								a(href="") Художественная роспись

					.footer__col
						.footer__title Кто мы?
						.footer__menu.footer-menu&attributes(attributes2)
							.footer-menu__item
								a(href="") О нас
							.footer-menu__item
								a(href="") Контакты
							.footer-menu__item
								a(href="") Reloft мебель
							.footer-menu__item
								a(href="") Reloft дизайн студя
							.footer-menu__item
								a(href="") Reloft детская

					.footer__col
						.footer__title Информация
						.footer__menu.footer-menu&attributes(attributes2)
							.footer-menu__item
								a(href="") Условия продажи
							.footer-menu__item
								a(href="") Доставка и оплата
							.footer-menu__item
								a(href="") Условия возврата
							.footer-menu__item
								a(href="") Оферта
							.footer-menu__item
								a(href="") Политика конфиденциальности
							.footer-menu__item
								a(href="") Пользовательское соглашение
							.footer-menu__item
								a(href="") Каталоги

					.footer__col
						.footer__title Сотрудничество
						.footer__menu.footer-menu&attributes(attributes2)
							.footer-menu__item
								a(href="") Художникам
							.footer-menu__item
								a(href="") Галереям
							.footer-menu__item
								a(href="") Дизайнерам

						.footer__sm-logo
							img(src="/images/logo-white.svg" alt="Reloft Art")

					.footer__contacts
						.footer__logo
							img(src="/images/logo-white.svg" alt="Reloft Art")
						.footer__contacts__group
							p.icon-inline
								svg.icon.icon-inline__icon
									use(xlink:href="images/sprite.svg#icon-phone")
								a(href="tel:+7 (499) 112-06-28") +7 (499) 112-06-28

							p.icon-inline
								svg.icon.icon-inline__icon
									use(xlink:href="images/sprite.svg#icon-mail")
								a(href="mailto:art@reloft.ru") art@reloft.ru

						.footer__contacts__group
							.footer__contacts__adres
								p.icon-inline
									svg.icon.icon-inline__icon
										use(xlink:href="images/sprite.svg#icon-marker")
										span г.Москва, метро Бауманская<br> Денисовский пер., 26

							.footer__soc
								p Мы в социальных сетях:
								.soc-list
									.soc-list__item
										a(href="#")
											svg.icon
												use(xlink:href="images/sprite.svg#soc-instagram")
									.soc-list__item
										a(href="#")
											svg.icon
												use(xlink:href="images/sprite.svg#soc-facebook")

		.footer__bottom
			.container.footer__container
				.footer__copyright © Reloft, 2020, Интернет-магазин Релофт – продажа мебели, света, декора, искусства, детской мебели из США и Европы.<br> Дизайн интерьеров, подбор мебели, декорирование.

	+popup({sfx: "send", id: "popup-send"})
		.popup__title Новое сообщение
		form.popup__form
			.popup__input
				input.inputbox(placeholder="Тема")
			.popup__input
				select
					option(value="" data-display="Город")
					option(value="Москва") Москва
					option(value="Санкт-Петербург") Санкт-Петербург
					option(value="Санкт-Петербург") Санкт-Петербург
					option(value="Санкт-Петербург") Санкт-Петербург
					option(value="Санкт-Петербург") Санкт-Петербург
					option(value="Санкт-Петербург") Санкт-Петербург
					option(value="Санкт-Петербург") Санкт-Петербург
					option(value="Санкт-Петербург") Санкт-Петербург
					option(value="Санкт-Петербург") Санкт-Петербург
					option(value="Санкт-Петербург") Санкт-Петербург
					option(value="Санкт-Петербург") Санкт-Петербург
			.popup__input
				textarea(placeholder="Сообщение")
			.popup__buttons
				button.btn(type="submit") Отправить

	+popup({sfx: "city", id: "city-select"})
		form.popup__form
			.popup__input
				select
					option( data-display="Страна")
					option Россия
					option Китай
			.popup__input
				select
					option( data-display="Город")
					option Москва
					option Питер
			.popup__buttons
				button.btn(type="submit") Готово
