include ../blocks/logo
include ../blocks/burger
include ../blocks/mobile-block
include ../blocks/main-menu
include ../blocks/search-block
include ../blocks/container

mixin header(data)
	if(data != undefined && data.sfx != undefined)
		- var attributes = {class: ['header--'+data.sfx]}

	+mobile-block

	header.header&attributes(attributes)
		.header__top
			+container()
				.header__slogan ОНЛАЙН ГАЛЕРЕЯ ИСКУССТВА И ДЕКОРА
		.header__body
			+container().header__container
				.header__row
					.header__top-nav
						.header__top-nav__item
							+burger({sfx: " js-show-menu", img: "icon-burger"})
						.header__top-nav__item
							a(href="#") Мебель
						.header__top-nav__item
							a(href="#") Дизайн студия

					.header__icons
						.header__icons__item
							a(href="#")
								svg.icon
									use(xlink:href="images/sprite.svg#icon-user")
						.header__icons__item.header__icons__item--favorite
							a(href="#")
								span.header__icons__count.js-favorite-value 123
								svg.icon
									use(xlink:href="images/sprite.svg#icon-favorite")
						.header__icons__item
							a(href="#")
								span.header__icons__count.header__icons__count--cart.js-cart-value 0
								svg.icon
									use(xlink:href="images/sprite.svg#icon-cart")

				.header__row
					.header__search
						+search-block()

					.header__logo
						+logo()

					.header__contacts
						.header__contacts__phone
							a(href="tel:+74951200637") +7 495 120 06 37
						.header__contacts__map
							a(href="#")
								svg.icon
									use(xlink:href="images/sprite.svg#icon-marker")
								span ШОУРУМ

		.header__bottom
			.header__bottom-wrap
				.container
					.header__row
						.header__burger
							+burger({sfx: " js-show-menu", img: "icon-burger"})

						.header__bottom-logo
							a.logo__img(href="/")
								img(src="images/logo-white.svg" alt="RELOFT ART")

						.header__menu
							+main-menu

						.header__icons.header__icons--fixed
							.header__icons__item
								a(href="#")
									svg.icon
										use(xlink:href="images/sprite.svg#icon-user")
							.header__icons__item.header__icons__item--favorite.active
								a(href="#")
									span.header__icons__count.js-favorite-value 0
									svg.icon
										use(xlink:href="images/sprite.svg#icon-favorite")
							.header__icons__item
								a(href="#")
									span.header__icons__count.header__icons__count--cart.js-cart-value 123
									svg.icon
										use(xlink:href="images/sprite.svg#icon-cart")