

mixin partner-section(data)
	if(data != undefined && data.sfx != undefined)
		- var attributes = {class: ['partner-section--'+data.sfx]}

	section.partner-section&attributes(attributes)
		.container.container--lg
			.partner-section__row.js-sm-slick
				.partner-section__item
					img(src="images/partner-1.png" srcset="images/partner-1.png 1x, images/partner-1@2x.png 2x")
				.partner-section__item
					img(src="images/partner-2.png" srcset="images/partner-2.png 1x, images/partner-2@2x.png 2x")
				.partner-section__item
					img(src="images/partner-3.png" srcset="images/partner-3.png 1x, images/partner-3@2x.png 2x")
				.partner-section__item
					img(src="images/partner-4.png" srcset="images/partner-4.png 1x, images/partner-4@2x.png 2x")