

mixin seo-section(data)
	if(data != undefined && data.sfx != undefined)
		- var attributes = {class: ['seo-section--'+data.sfx]}

	section.seo-section.item-page&attributes(attributes)
		.container.container--lg
			.title-h4 Онлайн галерея: купить картины на RELOFT ART
			p <strong>Покупать искусство стало проще: Reloft ART</strong> - это онлайн-галерея современного искусства, которая позволяет дизайнерам, коллекционерам и любителям искусства, удобно и безопасно, покупать произведения искусства у признанных на национальном уровне художников. От абстрактных холстов, фигуративных картин, рисунков, фотографий и эксклюзивных принтов, мы предлагаем международную подборку работ в различных стилях и техниках. Reloft ART также помогает начинающим Российским художникам продавать свои работы дизайнерам и любителям искусства.
			.title-h4 Купить искусство онлайн: фотографии и картины можно приобрести с гарантированным качеством и легкостью.
			p <strong>Зачем покупать фотографии или картины онлайн?</strong> Потому что мы тщательно отбираем художников из России и со всего мира, используя наши строгие правила: количество выставок, места жительства художников, награды и включение в государственные и частные коллекции. Мы делаем весь опыт покупки легким, заботясь о доставке, таможне и создании работы.
			.title-h4 Reloft ART онлайн-галерея искусств, которая знакомит всех с современными произведениями искусства
			p Reloft считает, что цифровой мир является невероятным инструментом для покупки искусства, наша галлерея позволяет приобретать произведения, которые они любят, будь то у начинающего Российского художника или у более современных французских и американских художников или даже у восходящих звезд уличного искусство.