include ../blocks/search-block

mixin subscribe-section(data)
	if(data != undefined && data.sfx != undefined)
		- var attributes = {class: ['subscribe-section--'+data.sfx]}

	section.subscribe-section&attributes(attributes)
		.container.container--lg
			.subscribe-section__row
				.subscribe-section__title Подпишитесь<br class="hidden visible-xs"> на свежую рассылку<br> RELOFT ART
				.subscribe-section__form
					+search-block({sfx: 'subscribe', iconBtn: 'icon-send', btnText: 'ОТПРАВИТЬ', placeholder: 'Оставить E-mail'})